{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    current_path ? 'page' ~ current_path|clean_class,
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/{{ directory }}/rhd-frontend/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/{{ directory }}/rhd-frontend/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/{{ directory }}/rhd-frontend/favicons/favicon-16x16.png">
    <link rel="manifest" href="/{{ directory }}/rhd-frontend/favicons/site.webmanifest">
    <link rel="mask-icon" href="/{{ directory }}/rhd-frontend/favicons/safari-pinned-tab.svg" color="#da532c">
    <link rel="shortcut icon" href="/{{ directory }}/rhd-frontend/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/{{ directory }}/rhd-frontend/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
