{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <a href="{{ logo_link }}">
    {% if content.field_image is defined and content.field_image|render|trim %}
      {{ content.field_image }}
    {% else %} 
      <p class="tile-title">{{ label }}</p>
    {% endif %}
  </a>
    {{ content.field_short_description }}
    {% if cta_url %}
      <a class="button medium-cta" href="{{ cta_url['#markup'] }}">{{ cta_title }}</a>
    {% endif %}
  </a>
</article>
