
<div class="container">
    <p>{{ content.field_event_background_image }}</p>
    <p>{{ event_title }}</p>
    <p>{{ content.field_start_date }}</p>
    <p>{{ content.field_description }}</p>
    {{ content.field_presenter_s_ }}

</div>
