{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {% if content.field_image %}
    {{ content.field_image }}
  {% endif %}
  <p class="tile-title">{{ label }}</p>
    {{ content.field_short_description }}
    {% if cta_url %}
      <a class="button medium-cta" href="{{ cta_url }}">{{ cta_title }}</a>
    {% endif %}
  </a>
</article>
