<div>
    <div class="developer-material-results">
        <table class="developer-materials-grid" ng-hide="data.layout === 'grid' || !data.layout" ng-if="!data.loading">
            <thead>
            <tr>
                <td class="topics">Topics</td>
                <td class="title">Title</td>
                <td class="description">Description</td>
                <td class="product" ng-hide="filters.project">Product</td>
                <td class="format">Format</td>
                <td class="publish-date">Publish Date</td>
            </tr>
            </thead>
            <tbody><img class="loader" ng-show="data.loading" src="{{ base_url }}/images/icons/ajax-loader.gif"/>
            <tr class="material get-started-placeholder-{{ '{{' }} item.fields.sys_type {{ '}}' }}" ng-repeat="item in data.displayedMaterials | noURL" ng-show="!data.loading">
                <td class="topics" ng-bind="item.fields.sys_tags | removeExcludedTags"></td>
                <td class="title">
                    <p>
                        <a href="" ng-href="{{ '{{' }} item.fields.sys_url_view | urlFix {{ '}}' }}" ng-bind="item.fields.sys_title | firstIfArray">
                            <i class="fa fa-external-link" ng-hide="item | checkInternal"></i>
                        </a>
                    </p>
                    <span class="contributor" data-sys-contributor="{{ '{{' }} item.fields.sys_author | firstIfArray {{ '}}' }}">
                        <a class="name" ng-bind="item.fields.sys_author | name"></a>
                    </span>
                </td>
                <td class="description" ng-bind="item.fields.sys_description | truncate"></td>
                <td class="product" ng-hide="filters.project" ng-bind="item.fields.target_product.join(', ')"></td>
                <td class="format" ng-bind="item.fields.sys_type | formatName:this"></td>
                <td class="publish-date" ng-bind="item.fields.sys_created | timeAgo"></td>
            </tr>
            </tbody>
        </table>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" ng-hide="data.layout === 'list'">
            <li class="material" ng-repeat="item in data.displayedMaterials">
                <div class="get-started-placeholder-{{ '{{' }} item.fields.sys_type {{ '}}' }}">
                    <a ng-href="{{ '{{' }} item.fields.sys_url_view | firstIfArray {{ '}}' }}">
                        <img ng-src="{{ '{{' }} item | thumbnailURL {{ '}}' }}"/>
                    </a>
                    <a class="banner experimental" ng-show="item.fields.experimental"></a>
                    <a class="banner premium" ng-show="item.fields.sys_url_view | isPremium"></a>
                    <span class="label material-level-{{ '{{' }} item.fields.level {{ '}}' }}" ng-show="item.fields.duration" ng-bind="item.fields.duration | HHMMSS"></span>
                    <span class="label material-level-{{ '{{' }} item.fields.level {{ '}}' }}" ng-show="item.fields.level" ng-bind="item.fields.level | firstIfArray"></span>
                    <div class="material-info">
                        <h5>
                            <a ng-href="{{ '{{' }} item.fields.sys_url_view | firstIfArray {{ '}}' }}" ng-bind="item.fields.sys_title | firstIfArray"></a>
                        </h5>
                        <span class="contributor" data-sys-contributor="{{ '{{' }} item.fields.sys_author | firstIfArray {{ '}}' }}">
                            <a class="name"></a>
                        </span>
                        <p class="material-datestamp" ng-bind="item.fields.sys_created | timeAgo"></p>
                    </div>
                    <p ng-bind-template="{{ '{{' }} item.fields.sys_description | truncate {{ '}}' }}&hellip;"></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel" ng-hide="data.materials.length || data.loading" ng-bind-template="Sorry there were no results, please modify your search query."></div>
</div>
<div class="large-24" ng-hide="data.loading">
    <div class="large-7 columns" id="show-entries">
        <label class="inline">Show</label>
        <select name="show-entries" ng-change="fetchAndUpdate();" ng-model="pagination.size">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
        </select>
        <label class="inline">entries</label>
        <br/>
        <p ng-bind-template="{{ '{{' }}(paginate.currentPage * pagination.size - pagination.size + 1) | safeNumber{{ '}}' }} to {{ '{{' }}Math.min(data.total, paginate.currentPage * pagination.size) | safeNumber{{ '}}' }} of {{ '{{' }} data.total | safeNumber {{ '}}' }} entries"></p>
    </div>
    <div class="large-17 small-24 columns">
        <nav id="paginator" ng-hide="pagination.viewall || !data.materials.length || data.loading">
            <ul class="pagination">
                <li ng-class="{unavailable: paginate.currentPage < 2}">
                    <a ng-click="firstPage()">First</a>
                </li>
                <li ng-class="{unavailable: paginate.currentPage < 2}">
                    <a ng-click="previousPage()">Previous</a>
                </li>
                <li ng-class="{current: page == paginate.currentPage}" ng-repeat="page in paginate.pagesArray track by $index">
                    <a data-page="{{ '{{' }} page {{ '}}' }}" ng-click="goToPage(page)" ng-bind="page"></a>
                </li>
                <li ng-class="{unavailable: paginate.currentPage >= paginate.pages}">
                    <a ng-click="nextPage()">Next</a>
                </li>
                <li ng-class="{unavailable: paginate.currentPage  == paginate.pages}">
                    <a ng-click="lastPage()">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
