<div class="related-product-card large-24 columns">
    <h6>Related Product</h6>
    {{ title_prefix }}
    <h4{{ title_attributes }}>
        {{ product_name }}
    </h4>
    {{ title_suffix }}
    <p class="description">
        <a href="{{ overview_url }}">Learn more about {{ product_name|render|striptags }}
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </p>
</div>