<noscript>
    <meta name="DCP:WebpageSearchExclude" content="true">
</noscript>

<div class="row">
    <h2 class="large-title" id="developer-materials">Developer Materials</h2>
</div>

<div class="row" itemscope="" itemtype="http://schema.org/Article">
    {# This should really include the columns class #}
    <div class="collapse large-24">
        <h2 class="divider" id="start" itemprop="name">
            {{ label }}
        </h2>
        {# TODO: create a searchisko_id #}
        <div class="gsi-meta" data-searchisko-type="jbossdeveloper_{{ content.field_resource_type|raw }}" data-searchisko-id="#{page.metadata[:searchisko_id]}">
            <ul>
                {% if content.field_author|render|striptags|trim is not empty %}
                    <li><strong>Author:</strong></li>
                    {#= partial "contributor.html.slim", {:contributor => page.metadata[:author], :basic => true}#}
                {% endif %}

                {% if content.field_contributors|render|striptags|trim is not empty %}
                    <li><strong> Contributors:</strong> {{ content.field_contributors }}</li>
                    {#= page.metadata[:contributors].collect { |c| partial("contributor.html.slim", {:contributor => c, :basic => true, :itemprop => 'contributor'})}.join(", ")#}
                {% endif %}

                {% if content.field_published_date|render|striptags|trim is not empty %}
                    <li><strong> Published:</strong> <span itemprop="dateModified">{{ content.field_published_date }}</span></li>
                {% endif %}

                {% if content.field_level|render|striptags|trim is not empty %}
                    <li><strong> Level:</strong> {{ content.field_level }}</li>
                {% endif %}

                {% if content.field_technologies|render|striptags|trim is not empty %}
                    <li><strong> Technologies:</strong> {{ content.field_technologies }}</li>
                    {#= page.metadata[:technologies].collect { |t| %Q{<span itemprop="about">#{t}</span>}}.join(", ")#}
                {% endif %}

                {% if content.field_related_product|render|striptags|trim is not empty %}
                    <li><strong> Target Product:</strong> <span itemprop="about">{{ content.field_related_product }}</span></li>
                    {#span itemprop="about" =(page.metadata[:target_product].is_a?(String) ? page.metadata[:target_product] : page.metadata[:target_product].join(", "))#}
                {% endif %}
            </ul>
        </div>
        <div class="row content">
            <div class="columns large-24">
                <div class="columns medium-4 large-4">
                    <ul class="toc gsi-nav">
                        {# TODO: May need to do something here for TOC #}
                    </ul>
                    <br>
                </div>
                <div class="columns medium-16 large-16 gsi">
                    {{ content.body }}
                    {#
                        - if page.metadata[:commits] && !page.metadata[:commits].empty?
                            h3.divider#changelog Recent Changelog
                            ul.commit-log
                                - for commit in page.metadata[:commits].take(10)
                                    li
                                        = DateTime.parse(commit[:date]).strftime('%b %e, %Y')
                                        | (
                                        span.contributor data-sys-contributor="#{commit[:author]} <#{commit[:author_email]}>" #{commit[:author]}
                                        | ):
                                        = commit[:subject].gsub(/\-/,' ')
                    #}
                </div>
                <div class="columns large-4 medium-4">
                    <div class="row">
                        <div class="columns large-24">
                            {# TODO: Download button#}
                            {#<a href="#{page.metadata[:download]}" class="button">Download <i#}
                                        {#class="fa fa-download"></i></a>#}
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns large-24">
                            {# TODO: View Source #}
                            {#<a href="#{page.metadata[:download]}" class="button">Download <i#}
                                        {#class="fa fa-download"></i></a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

