<div{{ attributes.addClass('latest-disqus-comment') }}>
  <h6 class="comment-title">{{ thread_title }}</h6>
  <div class="comment-body">{{ message }}</div>
  <div class="comment-footer">
    <div class="date">{{ date }}</div>
    <div class="reply"><a href="{{ reply_url }}" class="reply-link">Reply</a></div>
  </div>
</div>
