{#
/**
* @file
* Default theme implementation to display a node.
*
* Available variables:
* - node: The node entity with limited access to object properties and methods.
Only "getter" methods (method names starting with "get", "has", or "is")
and a few common methods such as "id" and "label" are available. Calling
other methods (such as node.delete) will result in an exception.
* - label: The title of the node.
* - content: All node items. Use {{ content }} to print them all,
*   or print a subset such as {{ content.field_example }}. Use
*   {{ content|without('field_example') }} to temporarily suppress the printing
*   of a given child element.
* - author_picture: The node author user entity, rendered using the "compact"
*   view mode.
* - metadata: Metadata for this node.
* - date: Themed creation date field.
* - author_name: Themed author name field.
* - url: Direct URL of the current node.
* - display_submitted: Whether submission information should be displayed.
* - attributes: HTML attributes for the containing element.
*   The attributes.class element may contain one or more of the following
*   classes:
*   - node: The current template type (also known as a "theming hook").
*   - node--type-[type]: The current node type. For example, if the node is an
*     "Article" it would result in "node--type-article". Note that the machine
*     name will often be in a short form of the human readable label.
*   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
*     teaser would result in: "node--view-mode-teaser", and
*     full: "node--view-mode-full".
*   The following are controlled through the node publishing options.
*   - node--promoted: Appears on nodes promoted to the front page.
*   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
*     teaser listings.
*   - node--unpublished: Appears on unpublished nodes visible only to site
*     admins.
* - title_attributes: Same as attributes, except applied to the main title
*   tag that appears in the template.
* - content_attributes: Same as attributes, except applied to the main
*   content tag that appears in the template.
* - author_attributes: Same as attributes, except applied to the author of
*   the node tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the main title tag that appears in the template.
* - view_mode: View mode; for example, "teaser" or "full".
* - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
* - page: Flag for the full page state. Will be true if view_mode is 'full'.
* - readmore: Flag for more state. Will be true if the teaser content of the
*   node cannot hold the main body content.
* - logged_in: Flag for authenticated user status. Will be true when the
*   current user is a logged-in member.
* - is_admin: Flag for admin user status. Will be true when the current user
*   is an administrator.
*
* @see template_preprocess_node()
*
* @todo Remove the id attribute (or make it a class), because if that gets
*   rendered twice on a page this is invalid CSS for example: two lists
*   in different view modes.
*
* @ingroup themeable
*/
#}
<div{{ attributes.addClass(["row", "content"]).setAttribute("id", "rhd-article") }}>
    <div class="large-19 medium-19 columns">
        {{ title_prefix }}
        <h2{{ title_attributes.setAttribute("id", "developer-materials") }}>{{ label }}</h2>
        {{ title_suffix }}
        <div class="gsi-meta article-info">
            <ul>
                <li><strong{{ author_attributes }}>By {{ author_name }}</strong></li>
                <li class="right">
                    <small>Published: {{ date }}</small>
                </li>
            </ul>
        </div>
    </div>
    <div class="large-5 medium-5 columns">
        {% include '@rhd/share.html.twig' %}
        {{ content.field_tags }}
    </div>
    <div class="clearfix"></div>
    <div class="large-4 medium-4 columns">
        <ul class="toc gsi-nav">
            <li>TOC GOES HERE!</li>
        </ul>
    </div>
    <div{{ content_attributes.addClass(["large-15", "medium-15", "columns", "gsi", "fetch-toc", "article-content"]) }}>
        {{ content.body }}
    </div>
</div>
{#<script>#}
    {#var toc = document.querySelector('.toc.toc-responsive');#}
    {#toc.parentNode.removeChild(toc);#}
    {#document.querySelector('.toc.gsi-nav').appendChild(toc);#}
{#</script>#}
<script>
    /*
     * Set up namespace and static vars
     */

    var app = window.app = {};

    /*
     Base URL
     */
    app.baseUrl = "http://localhost.localdomain:32769";

    /*
     Download Manager Base URL
     */
    app.downloadManagerBaseUrl = "https://developers.stage.redhat.com";

    /*
     Website Cache
     */
    app.cache = {};


    /*
     JS templates
     */
    app.templates = {};
    app.templates.miniBuzzTemplate = '<div class="large-12 column"><div class="update updatemobile"><div class="update-meta"><h5><a class="external-link" href="<!=permanentLink!>"><!=sys_title!><div class="row"><div class="small-12 medium-14 column"><div class="update-source"><!=authorName!><div class="small-12 medium-10 column"><div class="update-timestamp"><!=updatedDate!><div class="update-body"><p><!=sys_description!><div class="update-meta"><div class="share-this"><p><i class="fa fa-share">Share This<ul class="share-this-buttons social-buttons cf"><li><a href="https://twitter.com/share" class="socialite twitter-share" data-text="<!=sys_title!>" data-url="<!=sys_url_view!>" rel="nofollow" target="_blank"><span class="vhidden">Tweet<li><a href="http://www.facebook.com/sharer.php?u=<!=sys_url_view!>&t=<!=sys_title!>" class="socialite facebook-share" data-href="<!=sys_url_view!>" data-send="false" data-type="button_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook<li><a href="https://plus.google.com/share?url=<!=sys_url_view!>" class="socialite googleplus-one" data-size="tall" data-annotation="inline" data-width="60" data-href="<!=sys_url_view!>" rel="nofollow" target="_blank"><span class="vhidden">Share on Google+<li><a href="http://www.linkedin.com/shareArticle?mini=true&url=<!=sys_url_view!>&title=<!=sys_title!>" class="socialite linkedin-share" data-url="<!=sys_url_view!>" data-counter="right" rel="nofollow" target="_blank"><span class="vhidden">Share on LinkedIn';
    app.templates.productBuzzTemplate = '<div class="buzz-product-update"><div class="update"><div class="update-meta"><a class="update-source" href="<!=permanentLink!>"><h5><!=sys_title!><a class="update-source" href="<!=permanentLink!>"><!=authorName!><a class="update-timestamp" href="<!=permanentLink!>"><!=updatedDate!><div class="update-body"><p><!=sys_description!>';
    app.templates.buzzTemplate = '<div class="buzz-product-update"><div class="update"><div class="update-meta"><a class="update-source" href="<!=permanentLink!>"><h5><!=sys_title!><a class="update-source" href="<!=permanentLink!>"><!=authorName!><a class="update-timestamp" href="<!=permanentLink!>"><!=updatedDate!><div class="update-body"><p><!=sys_description!>';
    app.templates.termsAndConditionsTemplate = '<div class="downloadthankyou" id="tacBanner">You joined the Red Hat Developer Program on <span id="tcWhenSigned"><!=acceptanceTimestamp!>. Your subscription to the Red Hat Developer Program ends in <span id="tcEndsIn"><!=daysRemaining!> days. ';
    app.templates.bookTemplate = '<li class="book columns large-6" data-isbn="<!=isbn!>"><a class="book-preview" href="<!=preview_link!>" target="_blank">Preview<img src="<!=thumbnail!>" alt="Cover Image"><h4><!=sys_title!><p><!=authors!><p><!=published!><div class="rating"><!=average_rating!><p class="desc"><!=sys_description!><a class="button" href="<!=sys_url_view!>">Purchase <i class="fa fa-external-link">';
    app.templates.connectorTemplate = '<li class="connector"><a class="fn-open-connector" href="#"><img class="connector-logo" src="<!=img_path_thumb!>"><h3><a class="fn-open-connector" href="#"><!=sys_title!><p>   <!=sys_description!><div class="connector-overlay-content"><div class="row"><div class="large-7 columns"><img class="connector-logo" src="<!=img_path_thumb!>" onerror="<!=fallback_img!>"><div class="large-17 columns"><p> <!=sys_content!><div class="connector-a"><h4>Connector A<div class="copy-to-clipboard"><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="110" height="14" id="clippy"><param name="movie" value="//static.jboss.org/ffe/0/www/vendor/clippy/clippy.swf"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="scale" value="noscale"><param NAME="FlashVars" value="text=<!=code_snippet_1!>"><param name="bgcolor" value="#FFFFFF"><embed src="//static.jboss.org/ffe/0/www/vendor/clippy/clippy.swf" width="110" height="14" name="clippy" quality="high" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" FlashVars="text=<!=code_snippet_1!>" bgcolor="#FFFFFF"><input class="snippet-value" type="text" value="<!=code_snippet_1!>"><div class="connector-b"><h4>Connector B<div class="copy-to-clipboard"><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="110" height="14" id="clippy"><param name="movie" value="//static.jboss.org/ffe/0/www/vendor/clippy/clippy.swf"><param name="allowScriptAccess" value="always"><param name="quality" value="high"><param name="scale" value="noscale"><param NAME="FlashVars" value="text=<!=code_snippet_2!>"><param name="bgcolor" value="#FFFFFF"><embed src="//static.jboss.org/ffe/0/www/vendor/clippy/clippy.swf" width="110" height="14" name="clippy" quality="high" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" FlashVars="text=<!=code_snippet_2!>" bgcolor="#FFFFFF"><input class="snippet-value" type="text" value="<!=code_snippet_2!>"><p class="link_1_text"><a class="link_1" href="<!=link_1_url!>"><!=link_1_text!><br><a class="link_2" href="<!=link_2_url!>"><!=link_2_text!><p class="docs-link-text">For more details, view the <a class="docs-link" href="<!=more_details_url!>">Product Documentation';

    /*
     FastClick variable for faster tapping on touch devices
     */
    app.fastClick = false;

    /*
     DCP setup
     */

    app.dcp = {};
    app.dcp.url = {};
    app.dcp.url.search = '//docker:32772/v2/rest/search';
    app.dcp.url.content = '//docker:32772/v2/rest/content';
    app.dcp.url.auth_status = '//docker:32772/v2/rest/auth/status';
    app.dcp.url.rating = '//docker:32772/v2/rest/rating';
    app.dcp.url.project = '//docker:32772/v2/rest/search/suggest_project_name_ngram_more_fields';
    app.dcp.url.events = '//docker:32772/v2/rest/search/events';
    app.dcp.url.connectors = '//docker:32772/v2/rest/search/connectors';
    app.dcp.error_message = "<div class='dcp-error-message'>It appears we're unable to access this data right now. Look at <a href='http://twitter.com/jbossorg' target=_blank>@jbossorg to see if there is scheduled maintenance, or try again shortly.";
    app.dcp.url.developer_materials = '//docker:32772/v2/rest/search/developer_materials';
    app.dcp.excludeResourceTags = ["red hat", "Red Hat", "redhat"];

    app.dcp.availableTopics = ["AOP", "ActiveMQ", "ActiveMQ Endpoint", "Android", "AngularJS", "Apache Cordova",
        "Apache Deltaspike", "AppClient", "Arquillian", "Asynchronous EJB", "Asynchronous Servlet", "BMT", "BPMS", "BRMS",
        "BV", "Backbone", "Batch", "Batch 1.0", "Bean Validation 1.1", "Bundle packaging and deployment", "CDI", "CDI 1.1",
        "CEP", "CMT", "CXF", "CXFRS Endpoint", "Camel", "Concurrency Utilities", "Content Base Routing", "Cordova",
        "Crash Recovery", "DOM", "DOM4J", "Dandellion", "DeltaSpike", "Deltaspike", "Drools", "EAR",
        "EE Concurrency Utilities", "EJB", "EJB 3.1 Timer", "EJB 3", "EL 3.0", "Fabric8", "File Endpoint", "Forge", "Fuse",
        "GWT", "Github API", "H2", "HASingleton", "HTML5", "Hibernate", "Hibernate 3", "Hibernate 4", "HornetQ", "Hot Rod",
        "HotRod", "Http4 Endpoint", "Infinispan", "Interceptor 1.2", "Interceptors", "JAAS", "JACC", "JASPIC", "JAX-RS",
        "JAX-RS 2.0", "JAX-RS Client API", "JAX-WS", "JAX-WS 2.2", "JAXB transformation", "JAXP", "JBoss BPM Suite",
        "JBoss BRMS", "JBoss Data Grid", "JBoss DataVirt", "JBoss EAP", "JBoss Fuse", "JBoss Logging Tools", "JBoss Modules",
        "JBoss ON", "JCA 1.7", "JMS", "JMS 2.0", "JMX", "JNDI", "JPA", "JPA 2.0", "JPA 2.1", "JQuery", "JSF", "JSF 2.2", "JSF2",
        "JSON", "JSON-P", "JSON-P 1.0", "JSP", "JSTL", "JTA", "JTA 1.2", "JTS", "JUnit", "JWS", "JWT", "Java", "Java EE 7",
        "Java Servlet", "JavaMail", "JavaScript", "JavaScript Cordova", "Javamail 1.5", "Jenkins", "Junit", "Logging", "MBean",
        "MDB", "Maven", "Memcached", "Nexus", "OAuth", "OSGi", "Objective-C", "Optaplanner", "PicketLink",
        "PicketLink Federation", "PicketLink IDM", "Portal Container", "Portal Extension", "Portlet", "Portlet Bridge",
        "REST", "RESTful", "RF4", "RecipientList Endpoint with dynamic Restful URL",
        "Red Hat JBoss Enterprise Application Platform (JBoss EAP)", "Red Hat JBoss Portal", "Remote Query", "RestEasy",
        "Resteasy", "RichFaces", "SAML", "SAML v2.0", "SAX", "SFSB EJB", "SLSB EJB", "SQL Endpoint", "Security", "Servlet",
        "Servlet 3.1", "Servlet Filter", "Servlet Listener", "Servlets", "Set up the activemq for messaging broker.",
        "Shrinkwrap", "Singleton", "Sonar", "Spring", "Spring Boot", "Spring Data", "Spring MVC", "Spring MVC Annotations",
        "Topcoat", "Transactions", "Unified Push Java Client", "WAR", "WS-AT", "WS-BA", "WS-Trust", "WebSocket",
        "WebSocket through STOMP", "Websocket 1.0", "i18n", "iOS", "jBPM", "jQuery", "jQuery Mobile", "l10n", "webjars"];
    app.dcp.thumbnails = {
        // jboss
        "jbossdeveloper_quickstart": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_jbossdeveloper_quickstart.png",
        "jbossdeveloper_archetype": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_jbossdeveloper_archetype.png",
        "jbossdeveloper_bom": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_jbossdeveloper_bom.png",
        "jbossdeveloper_demo": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_jbossdeveloper_demo.png",
        // futurerproof for when jboss goes unprefixed
        "quickstart": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_jbossdeveloper_quickstart.png",
        "archetype": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_jbossdeveloper_archetype.png",
        "bom": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_jbossdeveloper_bom.png",
        "demo": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_jbossdeveloper_demo.png",
        // redhat
        "solution": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_solution.png",
        "article": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_article.png",
        // need icons?
        "rht_knowledgebase_article": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_article.png",
        "rht_knowledgebase_solution": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_solution.png",
        "jbossdeveloper_vimeo": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_article.png",
        "jbossdeveloper_connector": "http://localhost.localdomain:32769//sites/default/files/images_design_get-started_article.png"
    };

    /*
     Products
     */
    app.products = {
        "amq": {"upstream": ["activemq", "fabric8"]},
        "bpmsuite": {"upstream": ["drools", "guvnor", "optaplanner", "jbpm"]},
        "brms": {"upstream": ["optaplanner", "drools", "guvnor"]},
        "cdk": {"upstream": "_none"},
        "datagrid": {"upstream": ["infinispan", "jgroups", "hibernate_subprojects_search"]},
        "datavirt": {"upstream": ["teiid", "teiiddesigner", "modeshape"]},
        "developertoolset": {"upstream": "_none"},
        "devstudio": {"upstream": ["jbosstools"]},
        "eap": {"upstream": ["wildfly", "jgroups", "hibernate", "hornetq", "jbossclustering", "jbossmc", "narayana", "jbossweb", "jbossws", "ironjacamar", "jgroups", "mod_cluster", "jbossas_osgi", "jbosssso", "picketlink", "resteasy", "weld", "wise", "xnio"]},
        "fuse": {"upstream": ["camel", "karaf", "activemq", "cxf", "fabric8"]},
        "mobileplatform": {"upstream": "_none"},
        "openshift": {"upstream": "_none"},
        "rhel": {"upstream": ["fedora"]},
        "softwarecollections": {"upstream": "_none"},
        "webserver": {"upstream": ["tomcat", "httpd", "mod_cluster"]}
    };


    /*
     * Marketing ops
     */
    app.mktg_ops = {};
    app.mktg_ops.elqFormName = "jboss-org-integration-sandbox";


    /*
     * Keycloak Config
     */
    app.ssoConfig = {};
    app.ssoConfig.account_url = 'https://developers.stage.redhat.com/auth/realms/rhd/account/';
    app.ssoConfig.auth_url = 'https://developers.stage.redhat.com/auth/';
    app.ssoConfig.confirmation = 'http://localhost.localdomain:32769/confirmation';

    app.projects = {};
    app.projects.defaultImage = "http://localhost.localdomain:32769//sites/default/files/images_design_projects_default_200x150.png";
</script>