<div{{ attributes.addClass("topic-widget") }}>
    <section class="topics-header containers">
        <div class="row">
            <div class="large-24">
                <div{{ attributes }}>
                    {{ content.header }}
                </div>
                {#<h2 class="topics-header-title"></h2>#}
                {#<h4 id="topic" class="topics-header-subtitle"></h4>#}
            </div>
        </div>
    </section>
    <section class="topics-dotted-graphics">
        <div class="row topics-main">
            <div class="large-6 columns right">
                <div class="right-side-promo">
                    <div class="row">
                        <div class="large-24 medium-8 columns topics-right-side-promo-content">
                            {{ content.rightSide }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-18 medium-8 columns">
                <div class="row">
                    <div class="medium-16 columns">
                        <div class="main-promo topics-main-promo">
                            {{ content.mainPromo }}
                            {#
                            <h3 class="topics-main-promo-title"></h3>
                            <p class="description topics-main-promo-description"></p>
                            <span class="promo-tags">Tags:</span>
                            <div class="row promo-links topics-main-promo-links"></div>
                            #}
                        </div>
                    </div>
                    <div class="medium-8 columns"><a href="https://www.openshift.com/enterprise/" class="external-link">
                            <div class="secondary-promo">
                                {{ content.secondaryPromo }}
                                {#
                                <h4 class="topics-secondary-promo-title"></h4>
                                <p class="topics-secondary-promo-description"></p>
                                <span class="promo-tags"><div class="promo-tags-label topics-secondary-promo-tags">
                                Tags: </div></span>
                                #}
                            </div>
                        </a></div>
                </div>
                <div class="row">
                    <div class="large-8 columns"><a href="http://developers.redhat.com//video/youtube/hy9aVrTNufQ">
                            <div class="tertiary-tall-promo">
                                {{ content.tertiaryTallPromo }}
                                {#<h4 class="topics-tertiary-tall-promo-title"></h4>#}
                                {#<p class="topics-tertiary-tall-promo-description"></p>#}
                                {#<span class="promo-tags"><div class="promo-tags-label topics-tertiary-tall-promo-tags">#}
                                        {#Tags:#}
                                    {#</div></span>#}
                            </div>
                        </a></div>
                    <div class="large-16 columns">
                        <div class="row">
                            {{ content.tertiaryPromo }}
                            {#<div class="large-12 columns"><a#}
                                        {#href="http://developerblog.redhat.com/2015/01/14/jboss-on-docker-at-a-glance/">#}
                                    {#<div class="tertiary-promo">#}
                                        {#<h5 class="topics-tertiary-promo-title"></h5>#}
                                        {#<p class="topics-tertiary-promo-description"></p>#}
                    {#<span class="promo-tags"><div class="promo-tags-label topics-tertiary-promo-tags">Tags:</div>#}
                    {#</span>#}
                                    {#</div>#}
                                {#</a></div>#}
                            {#<div class="large-12 columns"><a#}
                                        {#href="http://developerblog.redhat.com/2015/01/14/jboss-on-docker-at-a-glance/">#}
                                    {#<div class="tertiary-promo">#}
                                        {#<h5 class="topics-tertiary-promo-title"></h5>#}
                                        {#<p class="topics-tertiary-promo-description"></p>#}
                    {#<span class="promo-tags"><div class="promo-tags-label topics-tertiary-promo-tags">Tags:</div>#}
                    {#</span>#}
                                    {#</div>#}
                                {#</a></div>#}
                            {#<div class="large-12 columns"><a#}
                                        {#href="http://developerblog.redhat.com/2015/01/14/jboss-on-docker-at-a-glance/">#}
                                    {#<div class="tertiary-promo">#}
                                        {#<h5 class="topics-tertiary-promo-title"></h5>#}
                                        {#<p class="topics-tertiary-promo-description"></p>#}
                    {#<span class="promo-tags"><div class="promo-tags-label topics-tertiary-promo-tags">Tags:</div>#}
                    {#</span>#}
                                    {#</div>#}
                                {#</a></div>#}
                            {#<div class="large-12 columns"><a#}
                                        {#href="http://developerblog.redhat.com/2015/01/14/jboss-on-docker-at-a-glance/">#}
                                    {#<div class="tertiary-promo">#}
                                        {#<h5 class="topics-tertiary-promo-title"></h5>#}
                                        {#<p class="topics-tertiary-promo-description"></p>#}
                    {#<span class="promo-tags"><div class="promo-tags-label topics-tertiary-promo-tags">Tags:</div>#}
                    {#</span>#}
                                    {#</div>#}
                                {#</a></div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
