<article{{ attributes.addClass('author short-teaser') }}>
  {{ content.field_headshot }}

  <div class="author-info">
    {{ title_prefix }}
    {% if not page %}
      <p{{ title_attributes.addClass('author-name') }}>
        {{ label }}
      </p>
    {% endif %}
    {{ title_suffix }}

    <div{{ content_attributes }}>
      {{ content|without('field_headshot') }}
    </div>
  </div>
</article>
