{%
  set classes = [
    'node',
    'container',
    'node--type-' ~ node.bundle|clean_class,
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  <div class="row pre-body">
    <div class="columns medium-18">
      {{ title_prefix }}
      <h2>{{ label }}</h2>
      {{ title_suffix }}
      {{ content.field_position_title }}
      <div class="row bio">
        {% if social_links %}
          <div class="columns medium-8 large-6">
            <div class="social-links">
              {% if social_twitter %}
                <a href="{{ social_twitter }}">
                  <span class="a2a_svg">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                      <path fill="#000" d="M28 8.557a9.913 9.913 0 0 1-2.828.775 4.93 4.93 0 0 0 2.166-2.725 9.738 9.738 0 0 1-3.13 1.194 4.92 4.92 0 0 0-3.593-1.55 4.924 4.924 0 0 0-4.794 6.049c-4.09-.21-7.72-2.17-10.15-5.15a4.942 4.942 0 0 0-.665 2.477c0 1.71.87 3.214 2.19 4.1a4.968 4.968 0 0 1-2.23-.616v.06c0 2.39 1.7 4.38 3.952 4.83-.414.115-.85.174-1.297.174-.318 0-.626-.03-.928-.086a4.935 4.935 0 0 0 4.6 3.42 9.893 9.893 0 0 1-6.114 2.107c-.398 0-.79-.023-1.175-.068a13.953 13.953 0 0 0 7.55 2.213c9.056 0 14.01-7.507 14.01-14.013 0-.213-.005-.426-.015-.637.96-.695 1.795-1.56 2.455-2.55z"></path>
                    </svg>
                  </span>
                  <span class="a2a_label">Twitter</span>
                </a>
              {% endif %}
              {% if social_facebook %}
                <a href="{{ social_facebook }}">
                  <span class="a2a_svg a2a_s__default a2a_s_facebook">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                      <path fill="#000" d="M17.78 27.5V17.008h3.522l.527-4.09h-4.05v-2.61c0-1.182.33-1.99 2.023-1.99h2.166V4.66c-.375-.05-1.66-.16-3.155-.16-3.123 0-5.26 1.905-5.26 5.405v3.016h-3.53v4.09h3.53V27.5h4.223z"></path>
                    </svg>
                  </span>
                  <span class="a2a_label">Facebook</span>
                </a>
              {% endif %}
              {% if social_youtube %}
                <a href="{{ social_youtube }}">
                  <span class="a2a_svg">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="youtube">
                      <path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/>
                    </svg>
                  </span>
                  <span class="a2a_label">YouTube</span>
                </a>
              {% endif %}
              {% if social_linkedin %}
                <a href="{{ social_linkedin }}">
                  <span class="a2a_svg">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                      <path fill="#000" d="M6.227 12.61h4.19v13.48h-4.19V12.61zm2.095-6.7a2.43 2.43 0 0 1 0 4.86c-1.344 0-2.428-1.09-2.428-2.43s1.084-2.43 2.428-2.43m4.72 6.7h4.02v1.84h.058c.56-1.058 1.927-2.176 3.965-2.176 4.238 0 5.02 2.792 5.02 6.42v7.395h-4.183v-6.56c0-1.564-.03-3.574-2.178-3.574-2.18 0-2.514 1.7-2.514 3.46v6.668h-4.187V12.61z"></path>
                    </svg>
                  </span>
                  <span class="a2a_label">LinkedIn</span>
                </a>
              {% endif %}
              {% if social_github %}
                <a href="{{ social_github }}">
                  <span class="a2a_svg">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" class="github">
                      <path d="M667.575,684.036c29.498,42.729,31.01,91.438,30.54,140.826    c-0.57,59.8-0.111,119.604-0.05,179.408c0.022,19.207-0.445,19.731-19.1,19.729c-78.256-0.012-156.512-0.005-234.769-0.007  c-17.454,0-19.02-1.667-18.996-19.188c0.055-38.141,0.018-76.282,0.018-116.467c-13.499,1.382-27.038,2.831-40.589,4.143  c-66.12,6.401-123.748-10.497-168.359-62.186c-6.244-7.236-11.229-15.609-16.383-23.721 c-22.712-35.758-44.708-71.988-68.222-107.205c-7.278-10.897-18.543-19.128-27.959-28.601c-4.959-4.988-9.87-10.026-15.707-15.965  c16.315-10.603,31.94-7.718,46.736-5.44c36.94,5.688,61.914,28.566,81.694,58.915c9.845,15.105,20.032,30.51,32.675,43.164  c40.49,40.528,89.668,53.605,145.37,40.97c35.929-8.152,28.961-4.369,34.328-37.189c3.585-21.921,9.63-42.799,21.561-61.729  c1.978-3.141,3.617-6.494,6.054-10.913c-15.766-3.111-30.49-5.605-45.016-8.956c-57.636-13.29-110.782-35.758-152.841-78.96  c-44.573-45.789-68.698-100.626-70.376-164.982c-1.411-54.079-1.079-107.997,11.167-161.119 c7.859-34.098,22.069-64.649,47.012-89.985c3.865-3.928,6.128-13.232,4.327-18.359c-17.77-50.603-15.334-100.626,1.086-150.939  c2.823-8.653,5.798-10.738,14.439-8.377c31.695,8.664,58.827,25.018,81.457,48.459c15.443,15.996,29.577,33.263,44.914,50.663    c39.151-28.285,85.473-29.278,131.177-31.946c50.531-2.949,101.104-2.15,150.76,8.614c19.284,4.182,37.626,12.71,54.768,18.69    c20.14-19.135,40.941-38.615,61.418-58.433c18.493-17.898,40.396-29.047,65.105-35.647c9.458-2.526,14.257-0.28,17.46,8.951    c16.997,48.973,19.867,97.926,0.771,147.019c-2.784,7.161-4.695,13.899,1.884,20.188c33.405,31.945,50.024,72.171,53.556,117.249    c3.73,47.601,8.206,95.606,5.865,143.117c-4.347,88.167-48.115,154.374-124.163,198.896 c-40.771,23.87-85.285,36.961-131.779,43.855c-2.664,0.394-5.354,0.662-7.979,1.232    C670.368,682.044,669.446,682.926,667.575,684.036z" fill-rule="evenodd"/>
                    </svg>
                  </span>
                  <span class="a2a_label">Github</span>
                </a>
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% if social_links %}
          <div class="columns medium-16 large-18">
        {% else %}
          <div class="columns small-24">
        {% endif %}
          {{ content.body }}
          {% if social_github %}
            <a href="{{ social_github }}" class="github-link">{{ social_github }}</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="columns medium-6">
      {{ content.field_headshot }}
    </div>
  </div>

  <div class="row body-row">
    <h4>Articles by {{ author_name }}</h4>
    {{ author_articles }}
  </div>

</article>
