{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer class="node__meta">
      {{ author_picture }}
      <div{{ author_attributes.addClass('node__submitted') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}


  <div{{ content_attributes.addClass('node__content') }}>
    {% if content.social_icons|length %}
      <ul class="social-icons">
        {% for social_icon in content.social_icons %}
          <li class="social-icon {{ social_icon.field|raw }}">
            <a href="{{ social_icon.value|raw }}">{{ social_icon.field|raw }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {{ content|without('social_icons') }}
  </div>

</article>
