<article{{ attributes.addClass('author tile') }}>
  <a class="author-url" href="{{ url }}">
    {{ content.field_headshot }}
    <div class="author-info">
      {{ title_prefix }}
      <span{{ title_attributes.addClass('author-name') }}>{{ label }}</span>
      {{ title_suffix }}
      <span{{ content_attributes }}>
        {{ content|without('field_headshot') }}
      </span>
    </div>
  </a>
</article>
