{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
    <h3 class="">{{ event_title }}</h3>
    <p class="rhd-list-entry--date">{{ content.field_start_date }}</p>
    <a class="button medium-cta white" href="{{ url }}">Sign Up</a>
</article>
