{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <a href="{{ url }}">
    <img {{ create_attribute({'src': content.field_tile_thumbnail['#items'][0].value}) }} />
    <h3 class="tile-title">{{ event_title }}</h3>
  </a>
</article>
