<div class="event-info">
  <p class="rhd-list-entry--date">{{ content.field_start_date.value | date("F jS, Y") }}</p>
  <h3>{{ event_title }}</h3>
  {{ content.field_short_description }}
</div>
<div class="event-presenters">
  {{ content.field_presenter_s_ }}
</div>
<a href="{{ event_url }}" class="button heavy-cta">Sign Up</a>
