<div {{ attributes.addClass('rhd-c-author--tile') }}>
  <span class="rhd-c-author--tile-hero">
    {{ content.field_headshot }}
  </span>
  <div class="rhd-c-author--tile-info">
    <div class="rhd-c-author--tile-name">
      <a href="{{ url }}">{{ label }}</a>
    </div>
    {{ content.field_position_title }}
  </div>
</div>
