{% set classes = [
  'pf-c-card',
  'rhd-c-card__list',
] %}
{{ attach_library('classy/node') }}
<div{{ attributes.addClass(classes) }}>
  <div class="rhd-c-card-content">
    <h3 class="rhd-c-card__title">
      <a href="{{ url }}" class="rhd-m-link">{{ label }}</a>
      {# {% if "developers.redhat.com" in url('entity.node.canonical', {'node': id}) %}
      <div class="rhd-m-list__comment tile-comment-count hidden" data-disqus-thread-link="{{ url('entity.node.canonical', {'node': id}) }}" data-disqus-comment-count>
        <a href="{{ url }}#comments">
          <span class="fas fa-comment"></span>
          <span class="comment-number" data-disqus-comment-count-number></span> 
        </a>
      </div>
      {% endif %} #}
    </h3>
  </div>
</div>
