<div{{ attributes.addClass("component").setAttribute('id', 'rhd-video-resource') }}>
  <div class="pf-l-grid video-page">
    <div class="pg-l-grid__item pf-m-12-col">
      <h4 class="content-type-label">Video</h4>
      <h1{{ title_attributes.addClass('video-resource-title') }}>{{ label }}</h1>
    </div>
  </div>

  <div class="pf-l-grid video-page">
    <div class="pf-l-grid__item pf-m-12-col vr-info">
      <ul>
        <li>
          {% if content.field_speakers|render|striptags|trim is not empty %}
            <strong {{ author_attributes }}>By {{ content.field_speakers }}</strong>
          {% endif %}
        </li>
        <li>
          {% set calc_date = node.field_video_publish_date.value is not empty ? node.field_video_publish_date : node.published_at %}
          {% if calc_date and calc_date.value is not empty %}
            <small>Published: <rh-datetime datetime="{{calc_date.value|date("c")}}">{{calc_date.value|date("Y-m-d")}}</rh-datetime></small>
          {% endif %}
        </li>
        <li class="right vr-social">
          {% include '@rhdp/share.html.twig' %}
        </li>
      </ul>
    </div>
    <div class="pf-l-grid__item pf-m-12-col video-slides">
      <div class="pf-l-grid pf-m-gutter pf-u-mb-md">
        {% if content.field_slideshare_source|render|striptags|trim is not empty %}
          <div class="pf-l-grid__item pf-m-12-col pf-m-7-col-on-lg video-container">
            {{ content.field_video_resource }}
          </div>

          <div class="pf-l-grid__item pf-m-12-col pf-m-5-col-on-lg slides">
            <iframe src="https://www.slideshare.net{{ content.field_slideshare_source.0['#url'] }}" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="max-width: 100%;" allowfullscreen> </iframe>
            <small class="slide-note">Note: Slides do not auto-advance</small>
          </div>
        {% else %}
          <div class="pf-l-grid__item pf-m-12-col video-container">
            {{ content.field_video_resource }}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="pf-l-grid__item pf-m-12-col video-content">
      {% if content.body|render|striptags|trim is not empty %}
        <div class="show-more-text video-description" data-count="400">
          {{content.body}}
          {% if content.field_video_resource_tags|render|striptags|trim is not empty %}
            {{ content.field_video_resource_tags }}
          {% endif %}
        </div>
        <a class="show-more" onclick="return false;">
          <span class="more">Show More</span>
          <span class="less">Show Less</span>
        </a>
      {% endif %}
      {% if content.field_video_transcript|render|striptags|trim is not empty %}
        <div class="video-transcript">
          <h5>Transcript</h5>
          {{content.field_video_transcript}}
        </div>
      {% endif %}
      {% if content.field_video_related_links|render|striptags|trim is not empty %}
        {{ content.field_video_related_links }}
      {% endif %}
      {% if content.field_video_target_product|render|striptags|trim is not empty %}
        <div class="related-product-card columns">
          {{ content.field_video_target_product }}
        </div>
      {% endif %}
    </div>
  </div>

  {% if ( content.field_video_resource_tags|render|striptags|trim is not empty ) or ( content.field_related_content|render|striptags|trim is not empty ) %}
  <section class="video-page rhd-c-card-grid">
    <div class="pf-l-flex" >
      <h2 class="pf-c-title">More Like This</h4>
    </div>
     <div id ="video-related-cont" class="pf-l-flex rhd-c-card-grid__wrapper" data-tags="{{ video_tags|json_encode|replace('\"', '\'') }}">
        {{ content.field_related_content }}
        {# Populated by related-content.js. Fetches content based on data-tags. #}
      </div>
  </section>
  {% endif %}

  <div class="pf-l-grid video-page">
    <div class="pf-l-grid__item pf-m-12-col">
      {{ content.disqus_thread }}
    </div>
  </div>
</div>

{% if node.field_exclude_from_search.value == '1' %}
  <noscript>
    <meta name="DCP:WebpageSearchExclude" content="true">
  </noscript>
{% endif %}
