{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  {{ content.content_moderation_control }}

  {% if not node.field_hide_title.0.value == 1 %}
  <div class="topic-page__title component">
    <div class="pf-l-grid">
      {{ title_prefix }}
      <h1{{ title_attributes }}>{{ label }}</h1>
      {{ title_suffix }}

      {{ content.body }}
    </div>
  </div>
  {% endif %}

  <div{{ content_attributes.addClass('node__content') }}>
    {{ content|without('body', 'content_moderation_control') }}
  </div>
</article>
