{% set classes = [
  'rhd-c-article',
  'author-' ~ author_location
] %}
{% set article_classes =  [
  'article-content',
  'pf-l-flex__item',
  'pf-m-align-self-flex-start',
  'gsi',
  not hide_toc ? 'fetch-toc'
] %}

<div{{ attributes.addClass(classes).setAttribute("id", "rhd-article") }}>

  {{ content.content_moderation_control }}

  <div class="pf-l-grid pf-m-gutter">
    {% if has_hero and content.field_image|render %}
    <div class="article-hero pf-l-grid__item pf-sm-12-col">
      {% if content.field_image_caption|render %}
      <figure>
      {% endif %}
        {{ content.field_image }}
      {% if content.field_image_caption|render %}
        <figcaption>
          {{ content.field_image_caption }}
        </figcaption>
      </figure>
      {% endif %}
    </div>
    {% endif %}
    {% if content.field_image|render and not has_hero %}
    <div class="article-info-wrapper pf-l-grid__item pf-lg-7-col pf-m-12-col-on-sm pf-m-7-col-on-lg">
    {% else %}
    <div class="article-info-wrapper pf-l-grid__item pf-m-12-col">
    {% endif %}
      <div class="article-info-left">
        {% if content.field_article_type|render %}
        <p class="article-type">{{ content.field_article_type }}</p>
        {% endif %}
        {{ title_prefix }}
        <h1{{ title_attributes.setAttribute("id", "developer-materials") }}>{{ label }}</h1>
        {{ title_suffix }}
        <div class="meta-info">
          <div class="publish-date">{{ node.createdtime|date(' F j, Y') }}</div>
          {% if author_location == 'left' %}
          <div class="share-buttons">
            {% include '@components/share.html.twig' %}
          </div>
          {% endif %}
          {% if content.field_topics|render %}
           <div class="topics">
            <span class="tag-label"><i class="fas fa-tag fa-sm" title="Tags:"></i></span>{{ content.field_topics }}
           </div>
          {% endif %}
        </div>
      </div> {# /.article-info-left #}

      {% if (content.field_content_author['#items']) or (content.field_author_evangelist['#items']) %}
        <div class="authors">
          {% if author_location == 'right' %}
          	<div class="share-buttons">
              {% include '@components/share.html.twig' %}
            </div>
          {% endif %}
          {{ content.field_author_evangelist }}
          {{ content.field_content_author }}
        </div>
      {% endif %}

    </div> {# /.article-info-wrapper #}
    {% if content.field_image|render and not has_hero %}
    <div class="floated-image pf-l-grid__item pf-lg-5-col pf-m-12-col-on-sm pf-m-5-col-on-lg">
      {% if content.field_image_caption|render %}
      <figure>
      {% endif %}
        {{ content.field_image }}
        {% if content.field_image_caption|render %}
        <figcaption>
          {{ content.field_image_caption }}
        </figcaption>
      </figure>
        {% endif %}
    </div>
    {% endif %}
    {% if content.field_article_highlights|render %}
    <div class="article-highlights pf-l-grid__item pf-sm-12-col">
      {{ content.field_article_highlights }}
    </div>
    {% endif %}
    <div class="pf-l-grid__item">
      <div class="pf-l-flex">
        {% if not hide_toc %}
        <div class="article-toc pf-l-flex__item">
          <ul class="toc gsi-nav"></ul>
        </div>
        {% endif %}

        <div{{ content_attributes.addClass(article_classes) }}>
          {{ content.body }}
          {{ content.field_content }}
          {% if content.field_tags|render %}
          <div class="article-tags">
            {{ content.field_tags }}
          </div>
          {% endif %}
          {% if node.createdtime|date(' F j, Y') != node.changedtime|date(' F j, Y') %}
          <i class="changed-date">Last updated: {{ node.changedtime|date(' F j, Y') }}</i>
          {% endif %}
          {{ content.disqus_thread }}
        </div>
      </div>
    <div>
    {% if content.field_related_articles|render %}
    <div class="related-articles rhd-c-card-grid">
      <div class="pf-l-flex">
        <h4 class="related-article-header">Related Articles</h4>
      </div>
      {{ content.field_related_articles }}
    </div>
    {% endif %}

  </div>
</div>
<a href="#top" id="scroll-to-top"><i class="fas fa-arrow-circle-up"></i></a>
