<h3 class="rhd-c-events-hero__item-title">
  <a href="{{ url }}" class="pf-c-title">{{ event_title }}</a>
</h3>
<small class="pf-u-mt-sm pf-u-mb-sm">{{ content.field_start_date }}</small>
{{ content.field_short_description }}
<div class="rhd-c-events-hero__item-presenters pf-u-mb-md">
  {{ content.field_presenter_s_ }}
</div>
<a href="{{ event_url }}" class="pf-c-button pf-u-mr-lg">Sign up</a>
