{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    <div{{ title_attributes }}>{{ label }}</div>
    {{ title_suffix }}

    <div{{ content_attributes }}>
        <div class="row">
            <div class="large-24 columns">
                <h2 class="subpage-name" id="community">Updates</h2>
                {{ content.field_overview_main_content }}
            </div>
        </div>
    </div>
</div>