{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
] %}
{% include  '@rhdp/paragraph/download_thankyou.html.twig' %}

{# Adding in katacoda #}
<script src="https://katacoda.com/embed.js"></script>
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    <div{{ title_attributes }}>{{ label }}</div>
    {{ title_suffix }}

    <div{{ content_attributes }}>
        <h2 class="subpage-name" id="get-started">Hello World!</h2>
        {% if content.field_overview_main_content|render|striptags|trim is not empty %}
            {{ content.field_overview_main_content }}
        {% else %}
            {% if tab_bar|render|striptags|trim is not empty %}
                <div class="multipath-tabs-sm">
                    {{ tab_bar }}
                </div>
            {% endif %}
            <div>
                {{ tab_panels }}
                {# The individual tabs are rendered using the "get-started-tabs.html.twig" file in rhd_common #}
            </div>
        {% endif %}
        {% if content.field_secondary_content|render|striptags|trim is not empty %}
            {{ content.field_secondary_content }}
        {% endif %}
    </div>
</div>
