{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
] %}
{# checking if we actually have something inside the forum link variable to display #}
{% set show_forums = content.field_product_forum_link|render|striptags|trim is not empty %}
{# If we have forums and stack we want two columns, otherwise it should be one column#}
{% set column_size = show_forums ? (show_stack_overflow ? 12 : 24) : 24 %}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    <div{{ title_attributes }}>{{ label }}</div>
    {{ title_suffix }}

    <div{{ content_attributes }}>
        <div class="row">
            <div class="large-24 columns">
                <h2 class="subpage-name" id="community">Help</h2>
                {#
                 # This "How do I report an issue" section will only display for
                 # the RHAMT product. This section was added as a result of a
                 # request from Marco Rizzi.
                 #
                 # @see https://projects.engineering.redhat.com/browse/RHDX-367
                 #}
                {% if product_machine_name == 'migrationtoolkit' %}
                    <h4>How do I report an issue?</h4>
                    <p>Our issue tracking system is available on <a href="https://issues.redhat.com/projects/WINDUP/issues">https://issues.redhat.com/projects/WINDUP/issues</a>. You may use your <a href="https://access.redhat.com">access.redhat.com</a> user account to login to this system. To find out how to use the issue tracking system, refer to <a href="https://confluence.atlassian.com/display/JIRA/JIRA+Documentation">https://confluence.atlassian.com/display/JIRA/JIRA+Documentation</a></p>
                {% endif %}
                {% if (show_forums or show_stack_overflow) %}
                    <h4>Community Q&amp;A</h4>
                    <p>
                        See our most popular
                        {% if show_forums %} forum discussions {% endif %}
                        {% if (show_forums and show_stack_overflow) %}and{% endif %}
                        {% if show_stack_overflow %} Stack Overflow Q&A posts {% endif %}
                        related to {{ product_name }}.
                    </p>
                {% endif %}
            </div>
            <div class="forum-stack-row">
                {% if show_forums %}
                    <div class="large-{{ column_size }} columns latest-discussions" id="forumsContainer">
                        <h4 class="caps">Latest Discussions&nbsp;<i class="far fa-comments"></i></h4>
                        <ul class="product-forums product-forums-latest {{ show_stack_overflow ? '' : ' multi-column' }}" data-tags="{{ product_machine_name }}"></ul>
                        <h5 class="right">
                            <a href="{{ content.field_product_forum_link['#items']|first.uri }}"
                               id="{{ product_machine_name }}" target="_blank" rel="noopener noreferrer">See all related
                                forums discussions&nbsp;<i class="fas fa-caret-right"></i></a>
                        </h5>
                    </div>
                {% endif %}
                {% if show_stack_overflow %}
                    <div class="large-{{ column_size }} columns top-qa">
                        <h4 class="caps">Top Q&amp;A&nbsp;<i class="fab fa-stack-overflow"></i></h4>
                        <span id="stackOverflowProduct" data-product="{{ product_stackoverflow_code }}"></span>
                        <div ng-app="search">
                            <div ng-controller="SearchController">
                                <div class="stackoverflow-results-container" data-product="{{ product_stackoverflow_code }}"
                                     ng-class="loading ? 'invisible' : 'search-results-loaded'" ng-if="totalCount > 0"
                                     id="stackContainer">
                                    <div ng-repeat="result in results | limitTo:{{ column_size == 24 ? '8' : '4' }}"
                                         ng-init="r = result" class="{{ column_size == 24 ? 'large-12' : 'large-24' }} columns so-product-result">
                                        <div class="stackoverflow-product-update">
                                            <div class="update large-24 columns">
                                                <div class="update-meta">
                                                    <div class="row">
                                                        <h5 class="qtn-title large-24 columns">
                                                            <a ng-href="{{ '{{ ' }}r._source.sys_url_view{{ '}}' }}"
                                                               target="_blank" rel="noopener noreferrer">
                                                                Q: {{ '{{ ' }}r._source.sys_title{{ '}}' }}
                                                            </a>
                                                        </h5>
                                                    {# </div>
                                                    <div class="row"> #}
                                                        <div class="large-14 medium-12 columns">
                                                            <small>{% verbatim %}{{r._source.up_vote_count}} votes | {{r._source.answer_count}} answers | {{r._source.view_count}} views{% endverbatim %}</small>
                                                        </div>
                                                        <div class="large-10 medium-12 columns">
                                                            <span class="right">
                                                                <small>{{ '{{' }}r | stackDate {{ '}}' }}</small>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="see-all">
                            <a href="{{ base_path }}/stack-overflow">See all related Stack Overflow Q&A posts <i
                                        class="fas fa-caret-right"></i></a>
                        </h5>
                    </div>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="large-24 columns services-and-support">
                <h3>Red Hat Support and Professional Services</h3>
                <p>It's ok if you don't have the time to figure everything out on your own.</p>
                <ul class="small-block-grid-2 large-block-grid-4">
                    <li><span><img src="https://static.jboss.org/rhd/images/help_icon_subscription.svg"
                                   alt="Help Subscription Icon"></span><span><br>
                        <h5 class="caps">Subscriptions</h5>
                        <p>Known for enterprise-grade support subscriptions, Red Hat offers development support, too.</p>
                        <a href="https://www.redhat.com/apps/store/developers/">Learn More</a></span>
                    </li>
                    <li>
                        <span><img src="https://static.jboss.org/rhd/images/help_icon_consulting.svg"
                                   alt="Help Consulting Icon"></span>
                        <span>
                            <br>
                            <h5 class="caps">Consulting</h5>
                            <p>Providing strategic and technical expertise to help you address big (or not so big) challenges.</p><a
                                    href="https://www.redhat.com/en/services/consulting">Learn More</a>
                        </span>
                    </li>
                    <li><span><img src="https://static.jboss.org/rhd/images/help_icon_training.svg"
                                   alt="Help Training Icon"></span><span>
                            <h5 class="caps">Training &amp; Certifications</h5>
                            <p>Building enterprise apps requires more than self-paced learning. Get formal training, be certified.</p>
                            <a href="https://www.redhat.com/en/services/training">Learn More</a></span>
                    </li>
                    <li><span><img src="https://static.jboss.org/rhd/images/help_icon_appcertification.svg"
                                   alt="Help App Certification Icon"></span>
                        <span><br>
                            <h5 class="caps">App Certification</h5>
                            <p>ISVs - differentiate your docker-based apps as trusted solutions with Red Hat Certification.</p>
                            <a href="https://connect.redhat.com/activities/certification">Learn More</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
