{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    <div{{ title_attributes }}>{{ label }}</div>
    {{ title_suffix }}

    <div{{ content_attributes }}>
        <h2 class="subpage-name" id="community">Community</h2>
        {% if content.field_overview_main_content|render|striptags|trim is empty %}
        <div class="row">
            <div class="large-12 columns">
                <p>
                    Using {{ product_name }} is a great way to build real-world enterprise applications based on the
                    latest technologies. But what if you find something that needs fixing or have a new feature to suggest?
                    By getting involved with the {{ product_name }} community you can give feedback,
                    improve the docs, review code and discuss and propose new features whenever they're needed.
                    Answering user questions or taking part in development discussions is also a great way to build
                    a reputation for collaboration and expertise in your field.
                </p>
                <p>
                    No matter what your skill level, contributing to {{ product_name }} can be very
                    rewarding and a great learning experience. You'll meet lots of smart, passionate developers who
                    are all driven to create the best middleware possible in open source! You don't have to be an
                    expert to get involved and it doesn't have to take a lot of time.
                </p>
            </div>
        </div>
        {% else %}
            <div class="row">
                <div class="large-24 columns">
                    {{ content.field_overview_main_content }}
                </div>
            </div>
        {% endif %}
        {% if display_projects %}
            <div class="row">
                <div class="large-24 columns">
                    <h3 id="projects-standards">Projects and Standards included in {{ product_name }}</h3>
                    <div class="community-projects" data-product-id="{{ product_machine_name }}">
                        <rhdp-projects dcp-url="https://dcp2.jboss.org/v2/rest/search/suggest_project_name_ngram_more_fields?sort=sys_title&query=" upstream-product-id="{{ product_machine_name }}"></rhdp-projects>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
