{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

<li class="connector" data-connectorpriority="{{ row._entity.field_connector_priority.value }}" data-connectortitle="{{ row._entity.title.value }}">
  <a href="#" class="fn-open-connector">
    <img src="{{ fields.thumbnail__target_id.content }}" alt="logo" class="connector-logo">
  </a>
  <h3><a href="#" class="fn-open-connector">{{ row._entity.title.value }}</a></h3>
  {{ fields.field_connector_long_description.content }}
  <div class="connector-overlay-content">
    <div class="row">
      <div class="large-7 columns">
        <img src="{{ fields.thumbnail__target_id.content }}" alt="Logo" class="connector-logo">
      </div>
      <div class="large-17 columns">
        {{ fields.field_connector_short_descriptio.content }}

        {% if (connector_link_1_url is not empty and connector_link_1_text is not empty) or (connector_link_2_url is not empty and connector_link_2_text is not empty) %}
          <p class="link_1_text">
            {% if (connector_link_1_url is not empty and connector_link_1_text is not empty) %}
              <a href="{{ connector_link_1_url }}" class="link_1">{{ connector_link_1_text }}</a><br>
            {% endif %}
            {% if (connector_link_2_url is not empty and connector_link_2_text is not empty) %}
              <a href="{{ connector_link_2_url }}" class="link_2">{{ connector_link_2_text }}</a>
            {% endif %}
          </p>
        {% endif %}

        {# Product documentation link #}
        {% if connector_details_url_link is not empty %}
          <p class="docs-link-text">For more details, view the <a href="{{ connector_details_url_link }}" class="docs-link">Product Documentation</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</li>
