{#
/**
 * @file
 * Default theme implementation to display the basic html structure of a single
 * Drupal page.
 *
 * Variables:
 * - $css: An array of CSS files for the current page.
 * - $language: (object) The language the site is being displayed in.
 *   $language->language contains its textual representation.
 *   $language->dir contains the language direction. It will either be 'ltr' or 'rtl'.
 * - $rdf_namespaces: All the RDF namespace prefixes used in the HTML document.
 * - $grddl_profile: A GRDDL profile allowing agents to extract the RDF data.
 * - $head_title: A modified version of the page title, for use in the TITLE
 *   tag.
 * - $head_title_array: (array) An associative array containing the string parts
 *   that were used to generate the $head_title variable, already prepared to be
 *   output as TITLE tag. The key/value pairs may contain one or more of the
 *   following, depending on conditions:
 *   - title: The title of the current page, if any.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site, if any, and if there is no title.
 *   so on).
 * - $styles: Style tags necessary to import all CSS files for the page.
 * - $scripts: Script tags necessary to load the JavaScript files and settings
 *   for the page.
 * - $page_top: Initial markup from any modules that have altered the
 *   page. This variable should always be output first, before all other dynamic
 *   content.
 * - $page: The rendered page content.
 * - $page_bottom: Final closing markup from any modules that have altered the
 *   page. This variable should always be output last, after all other dynamic
 *   content.
 * - $classes String of classes that can be used to style contextually through
 *   CSS.
 *
 * @see template_preprocess()
 * @see template_preprocess_html()
 * @see template_process()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 lt-ie9" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if (gte IE 9)|!(IE)]<!--> <html lang="en"> <!--<![endif]-->
<head>

  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/ie8/0.4.1/ie8.js" ></script><![endif]-->
  <script>
  /**
  * Creates and dispatches an event trigger
  * @param {String} evt - The name of the event
  */
  function sendCustomEvent(evt){
    if(document.createEvent && document.body.dispatchEvent){
      var event = document.createEvent('Event');
      event.initEvent(evt, true, true); //can bubble, and is cancellable
      document.body.dispatchEvent(event);
    } else if(window.CustomEvent && document.body.dispatchEvent) {
      var event = new CustomEvent(evt, {bubbles: true, cancelable: true});
      document.body.dispatchEvent(event);
    }
  }
  {% if (rhd_dtm_code) %}
  var digitalData = {{ rhd_dtm_script|json_encode()|raw }},
    relURL = window.location.href.replace(/https?:\/\//,'').replace('{{ rhd_base_url }}','').replace('{{ rhd_final_base_url }}','').replace(/\/$/,'');

  ( function( w, d, dd, undefined ) {
      var categoryObj = getCategories();

      function getCookie( name ) {
        var value = "; " + document.cookie;
        var parts = value.split( "; " + name + "=" );
        if ( parts.length == 2 ) {
          return parts.pop().split( ";" ).shift();
        }
      }

      function deleteCookie(name) {
        document.cookie = name + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      };

      function getPageContentTypes(dd, primary, subs, query) {
        var pageType = '', contentType = '', contentSubType = '';
        switch (primary) {
          case 'home page':
            pageType = 'home';
            contentType = primary;
            break;
          case 'articles':
            pageType = 'article';
            contentType = 'article';
            break;
          case 'events':
            pageType = subs.length > 0 ? 'event' : 'events';
            contentType = subs.length > 0 ? subs[0] : 'event-list';
            break;
          case 'community':
            pageType = 'contributor';
            break;
          case 'forums':
            pageType = 'forum-list';
            contentType = 'forum-list';
            break;
          case 'about':
          case 'variants':
          case 'downloads':
          case 'stack-overflow':
          case 'ticket-monster':
          case 'terms-and-conditions':
          case 'vjbug':
            pageType = primary;
            break;
          case 'quickstarts':
          case 'boms':
          case 'archetypes':
          case 'demos':
          case 'promotions':
            pageType = primary.replace(/s$/,'');
            break;
          case 'products':
            pageType = primary;
            if(subs.length > 0) {
              pageType = pageType.replace(/s$/,'');
              contentType = subs[0];
              contentSubType = subs[1] ? subs[1] : '';
            }
            break;
          case 'video':
            pageType = primary;
            contentType = subs.length > 0 ? subs[0] : '';
            break;
          case 'topics':
            pageType = primary;
            if(subs.length > 0) {
              pageType = pageType.replace(/s$/,'');
              contentType = subs[0];
            }
            break;
          case 'resources':
          case 'search':
          case 'projects':
            pageType = 'search-results';
            contentType = primary;
            break;
        }

        dd.page.category.pageType = pageType;
        dd.page.category.contentType = contentType;
        dd.page.category.contentSubType = contentSubType;

        return dd;
      }

      function getQueryParams() {
        return relURL.split('?')[1] ? relURL.split('?')[1].replace(/=/g,':').split('&') : "";
      }

      function getCategories() {
        var categories = { primaryCategory: "", subCategories: [] },
          url = relURL.split('?')[0].split('#')[0].split(/\//);
        if (relURL === "") {
          categories.primaryCategory = "home page";
        } else {
          for(var i=1, l=url.length; i<l; i++) {
            if (i !== 1 && i <= 3) {
              categories.subCategories.push(url[i]);
            }

            if (i === 1) {
              categories.primaryCategory = url[i].length > 0 ? url[i] : "home page";
            }
          }
        }

        return categories;
      }

      function getPageName() {
        var splitURL = relURL.split('?')[0].split('#')[0].split(/\//),
          page = splitURL.pop();
        return page.length > 0 ? page : 'home page';
      }

      dd.page.attributes.queryParameters = getQueryParams();
      dd.page.category.primaryCategory = categoryObj.primaryCategory;
      dd.page.category.subCategories = categoryObj.subCategories;
      dd.page.pageInfo.destinationURL = window.location.href;
      dd.page.pageInfo.pageName = getPageName();
      dd.page.pageInfo.breadCrumbs = [categoryObj.primaryCategory, categoryObj.subCategories[0] || ""];
      dd = getPageContentTypes(dd, dd.page.category.primaryCategory, dd.page.category.subCategories, dd.page.attributes.queryParameters);

      var registered = getCookie("rhd_member");
      dd.user[0].profile[0].profileInfo.registered = registered ? true : false;

      if ( d.referrer ) {
        var a = d.createElement( "a" );
        a.href = d.referrer;

        dd.page.pageInfo.referringDomain = a.hostname;
        dd.page.pageInfo.referringURL = a.href;
      }

      dd.page.pageInfo.sysEnv = ( w.innerWidth <= 768 ) ? "tablet" : "desktop";

      var elqGUID = getCookie( "rh_elqCustomerGUID" );
      if ( elqGUID ) {
        dd.user[ 0 ].profile[ 0 ].profileInfo.eloquaGUID = elqGUID;
      }

      var slc = getCookie("rhd-slink-add");
      if(slc){
        sendSocialLinkEvent(slc);
        deleteCookie('rhd-slink-add');
      }

      function sendSocialLinkEvent(sprov){
        var ddSocialLinkEvent = {
          eventInfo: {
            eventAction: 'link',
            eventName: 'social account link',
            socialAccount: sprov,
            socialAccountsLinked: dd.user[0].profile[0].profileInfo.socialAccountsLinked,
            timeStamp: new Date(),
            processed: {
              adobeAnalytics: false
            }
          }
        };
        dd.event.push(ddSocialLinkEvent);
        sendCustomEvent('socialLinkEvent', ddSocialLinkEvent);
      }

      document.addEventListener('search-complete', function(e) {
        if (typeof e.detail.invalid === 'undefined') {
          var ddSearchEvent = {
              eventInfo: {
                eventName: 'internal search',
                eventAction: 'search',
                listing: {
                  browseFilter:  e.detail.filterStr || "internal search",
                  query: e.detail.term,
                  queryMethod: "system generated",
                  resultCount: e.detail.results.hits.total,
                  resultsShown: e.detail.from,
                  searchType: digitalData.page.category.primaryCategory || "",
                  refinement: []
                },
                timeStamp: new Date(),
                processed: {
                  adobeAnalytics: false
                }
              }
            };
          digitalData.event.push(ddSearchEvent);
          digitalData.page.listing = ddSearchEvent.eventInfo.listing;
          sendCustomEvent('ajaxSearch');
        }
      });

    } )( window, document, digitalData );
    {% endif %}
  </script>
  {% if (rhd_dtm_code) %}
  <script id="adobe_dtm" src="{{rhd_dtm_code}}"></script>
  {% endif %}

  <!--TODO: metrics here--><!--TODO: include Adobe A/B testing inline-->
  <head-placeholder token="{{ placeholder_token|raw }}">
  <meta charset="utf-8" />
  <meta content="bxtQxPXTaA2g5bXw_buofCT53_Uwp1fGAu9uHSA0UWc" name="google-site-verification" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>{{ head_title|safe_join(' | ')}}</title>
  <css-placeholder token="{{ placeholder_token|raw }}">
  {% if (rhd_sentry_track) %}
  <script src="{{ rhd_sentry_script }}"></script>
  <script>Raven.config('{{ rhd_sentry_code }}', { environment: '{{rhd_environment}}', whitelistUrls: [/redhat\.com/] }).install()</script>
  {% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.0/es6-promise.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
  <script>if (!window.customElements) { document.write('<!--'); }</script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.1/custom-elements-es5-adapter.js"></script>
  <!--! do not remove -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.1/webcomponents-lite.js"></script>
  <js-placeholder token="{{ placeholder_token|raw }}">
</head>
<body class="{{ body_classes()|join(' ') }}">
 {% if (rhd_environment == 'prod') %}
    <script type="text/javascript">
      dataLayer = [{'channel' : 'developer'}];
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NJWS5L');
    </script>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJWS5L" height="0" width="0"></iframe></noscript>
 {% endif %}
 {{ page_top}}
 <div class="site-wrapper">
    <header class="main clearfix">
        <div class="row header-wrap">
            <nav class="accounts">
                <ul>
                    <li class="login"><a>Log In</a></li>
                    <li class="register"><a>Register</a></li>
                    <li class="logged-in"><a class="logged-in-name" href="#"></a></li>
                    <li class="logged-in"><a class="logout" href="#">Log Out</a></li>
                </ul>
                {% if not(head_title['title'] matches '/Search/') %}
                  <div class="search-wrapper">
                    <form class="search-bar" accept-charset="utf-8" action="/search" method="get" role="search" type="submit">
                      <input class="user-search" type="text" placeholder="Enter your search term" id="search_list_text" name="t" maxlength="128" required/>
                      <button type="submit" id="search-button">
                        <i class="fa fa-search"></i>
                      </button>
                    </form>
                  </div>
                {% endif %}
            </nav>
        <div class="logo-wrap">
          <h1 class="logo">
            <!-- Do not remove the 'home-link' id from this 'a' tag -->
            <a id="home-link" href="/" title="Red Hat Developers"><img alt="Red Hat Developers" src="/images/design/RHD-logo.svg" /></a>
          </h1>
          <a class="nav-toggle" href="#">Menu<i class="fa fa-angle-down"></i></a>
        </div>
            <nav class="mega-menu">
                <ul>
                    <li class="has-sub-nav">
                        <a href="#" class="sub-nav-topics">Topics<i class="fa fa-angle-down "></i></a>
                        <div class="sub-nav" id="sub-nav-topics">
                            <a href="/topics/containers">Containers</a>
                            <a href="/topics/devops">DevOps</a>
                            <a href="/topics/enterprise-java">Enterprise Java</a>
                            <a href="/topics/iot">Internet of Things</a>
                            <a href="/topics/microservices">Microservices</a>
                            <a href="/topics/mobile">Mobile</a>
                            <a href="/topics/web-and-api-development">Web and API Development</a>
                            <a href="/topics/dotnet">.NET Core</a>
                        </div>
                    </li>
                    <li class="has-sub-nav">
                        <a href="#" class="sub-nav-products">Technologies<i class="fa fa-angle-down"></i></a>
                        <div class="sub-nav" id="sub-nav-technologies">
                            <div class="sub-nav-group">
                              <a class="heading" href="/products#development_and_management">Accelerated Development and Management</a>
                              <a class="hide-on-mobile" href="/products/datagrid/overview">Red Hat JBoss Data Grid</a>
                              <a class="hide-on-mobile" href="/products/eap/overview">Red Hat JBoss Enterprise Application Platform</a>
                              <a class="hide-on-mobile" href="/products/webserver/overview">Red Hat JBoss Web Server</a>
                            </div>
                            <div class="sub-nav-group">
                              <a class="heading" href="/products#developer_tools">Developer Tools</a>
                              <a class="hide-on-mobile" href="/products/rhamt/overview">Red Hat Application Migration Toolkit</a>
                              <a class="hide-on-mobile" href="/products/cdk/overview">Red Hat Container Development Kit</a>
                              <a class="hide-on-mobile" href="/products/devsuite/overview">Red Hat Development Suite</a>
                              <a class="hide-on-mobile" href="/products/developertoolset/overview">Red Hat Developer Toolset</a>
                              <a class="hide-on-mobile" href="/products/devstudio/overview">Red Hat JBoss Developer Studio</a>
                            </div>
                            <div class="sub-nav-group">
                              <a class="heading" href="/products#infrastructure">Infrastructure</a>
                              <a class="hide-on-mobile" href="/products/rhel/overview">Red Hat Enterprise Linux</a>
                              <a class="hide-on-mobile" href="/products/softwarecollections/overview">Red Hat Software Collections</a>
                            </div>
                            <div class="sub-nav-group">
                              <a class="heading" href="/products#integration_and_automation">Integration and Automation</a>
                              <a class="hide-on-mobile" href="/products/amq/overview">Red Hat JBoss AMQ</a>
                              <a class="hide-on-mobile" href="/products/datavirt/overview">Red Hat JBoss Data Virtualization</a>
                              <a class="hide-on-mobile" href="/products/fuse/overview">Red Hat JBoss Fuse</a>
                              <a class="hide-on-mobile" href="/products/bpmsuite/overview">Red Hat JBoss BPM Suite</a>
                              <a class="hide-on-mobile" href="/products/brms/overview">Red Hat JBoss BRMS</a>
                            </div>
                          <div class="sub-nav-group">
                            <a class="heading" href="/products#mobile">Mobile</a>
                            <a class="hide-on-mobile" href="/products/mobileplatform/overview">Red Hat Mobile Application Platform</a>
                          </div>
                          <div class="sub-nav-group">
                            <a class="heading" href="/products#cloud">Cloud</a>
                            <a class="hide-on-mobile" href="/products/rhoar/overview">Red Hat OpenShift Application Runtimes</a>
                            <a class="hide-on-mobile" href="/products/openshift/overview">Red Hat OpenShift Container Platform</a>
                          </div>
                          <div class="sub-nav-group">
                            <a class="heading" href="/products#runtimes">Runtimes</a>
                            <a class="hide-on-mobile" href="/products/openjdk/overview">OpenJDK</a>
                            <a class="hide-on-mobile" href="/products/dotnet/overview">.NET Core</a>
                          </div>
                        </div>
                    </li>
                    <li class="has-sub-nav">
                        <a href="#" class="sub-nav-community">Community<i class="fa fa-angle-down"></i></a>
                        <div class="sub-nav pull-right" id="sub-nav-community">
                          <a href="https://developers.redhat.com/blog">Developers Blog<span class="page-description">Insights &amp; news on Red Hat developer tools, platforms and more</span></a>
                          <a href="/events">Events<span class="page-description">Find the latest conferences, meetups, and virtual seminars</span></a>
                          <div class="sub-nav-group">
                            <a href="/projects">Open Source Communities<span class="page-description">Community Projects that Red Hat participates in</span></a>
                          </div>
                          <a href="/community/contributor">Content Contributors<span class="page-description">Share your knowledge. Contribute content to Red Hat Developers.</span></a>
                        </div>
                    </li>
                    <li class="has-sub-nav">
                      <a href="#" class="sub-nav-help">Help<i class="fa fa-angle-down"></i></a>
                      <div class="sub-nav pull-right" id="sub-nav-help">
                        <a href="/resources">Resources<span class="page-description">Important technical resources for you in all shapes and sizes:  blogs, books, code, videos and more.</span></a>
                        <a href="/forums">Forums<span class="page-description">We've extended our popular JBoss.org forums to cover our entire Red Hat portfolio for you.</span></a>
                        <a href="/stack-overflow">Stack Overflow Q&amp;A<span class="page-description">You already use Stack Overflow, so we'll help you use it to find your best answers.</span></a>
                      </div>
                    </li>
                    <li><a href="/downloads" class="sub-nav-downloads">Downloads </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="wrapper clearfix">
      <div class="content-wrapper">
        {{ page }}
      </div>
    </div>
    {{ page_bottom}}
    <footer class="bottom">
      <section class="footer-links">
        <div class="row">
          <div class="large-8 medium-12 columns right rhdp-info">
            <h3>Red Hat Developer Program</h3>
            <p>We provide a complete experience to enable enterprise developers and software builders to envision, create and maintain high-value enterprise software.</p>
            <div class="row">
                <div class="small-12 columns">
                  <a href="/about">About us</a>
                </div>
                <div class="small-12 columns">
                    <ul class="social-nav">
                        <li>
                          <a href="https://www.youtube.com/channel/UC7noUdfWp-ukXUlAsJnSm-Q" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li>
                          <a href="https://www.facebook.com/RedHatDeveloperProgram" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                          <a href="https://twitter.com/rhdevelopers" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
          <div id="collapseFooter" class="large-16 medium-12 columns">
            <div class="large-8 columns collapsible-section">
              <h3 class="section-toggle"><span class="toggle-icon"></span>Related Sites</h3>
              <div class="section-content">
                <ul class="quick-links">
                  <li><a href="https://openshift.io/" target="_blank" rel="noopener noreferrer">Red Hat OpenShift.io</a></li>
                  <li><a href="https://www.openshift.com/" target="_blank" rel="noopener noreferrer">Red Hat OpenShift Online</a></li>
                  <li><a href="https://www.redhat.com/en/store/" target="_blank" rel="noopener noreferrer">Red Hat Store</a></li>
                  <li><a href="https://www.redhat.com/en/jobs/" target="_blank" rel="noopener noreferrer">Red Hat Jobs</a></li>
                </ul>
              </div>
            </div>
            <div class="large-8 columns collapsible-section">
              <h3 class="section-toggle"><span class="toggle-icon"></span>Services</h3>
              <div class="section-content">
                <ul class="quick-links">
                  <li><a href="https://openshift.io/" target="_blank" rel="noopener noreferrer">Red Hat OpenShift.io</a></li>
                  <li><a href="https://www.openshift.com/" target="_blank" rel="noopener noreferrer">Red Hat OpenShift Online</a></li>
                  <li><a href="https://www.redhat.com/en/store/" target="_blank" rel="noopener noreferrer">Red Hat Store</a></li>
                  <li><a href="https://www.redhat.com/en/jobs/" target="_blank" rel="noopener noreferrer">Red Hat Jobs</a></li>
                </ul>
              </div>
            </div>
            <div class="large-8 columns collapsible-section">
              <h3 class="section-toggle"><span class="toggle-icon"></span>Communicate</h3>
              <div class="section-content">
                <ul class="quick-links">
                  <li><a class="report-an-issue" href="#" id="rhdCustomTrigger">Report a website issue</a></li>
                  <li><a href="https://access.redhat.com/security/team/contact/" target="_blank" rel="noopener noreferrer">Report a security problem</a></li>
                </ul>
              </div>
            </div>
          </div>
       </div>
    </section>
    <section class="footer-legal">
      <div class="legal">
          <div class="medium-5 small-24 columns">
            <a href="https://www.redhat.com" target="_blank" rel="noopener noreferrer"><img alt="Red Hat" class="rh-logo" src="/images/branding/RHLogo_white.svg" /></a>
          </div>
          <div class="medium-14 columns">
              <ul class="inline-list">
                  <li><a class="copyright">Copyright © {{ "now"|date("Y") }} Red Hat Inc.</a></li>
                  <li><a href="http://www.redhat.com/en/about/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy statement</a></li>
                  <li><a href="http://www.redhat.com/en/about/terms-use" target="_blank" rel="noopener noreferrer">Terms of use</a></li>
                  <li><a href="http://www.redhat.com/en/about/all-policies-guidelines" target="_blank" rel="noopener noreferrer">All policies and guidelines</a></li>
              </ul>
          </div>
          <div class="medium-5 small-24 right columns">
              <a class="summit-logo" href="http://www.redhat.com/summit/" target="_blank" rel="noopener noreferrer"><img src="/images/design/logo-summit.png" alt="Red Hat Summit"></a>
          </div>
      </div>
    </section>
      {% if page.footer %}
          {% block footer %}
              {{ page.footer }}
          {% endblock %}
      {% endif %}
    </footer>
  </div>
  <div class="overlay">
    <div class="overlay-wrap">
      <div class="overlay-inner">
        <a class="overlay-close">&times;</a>
        <div class="overlay-content row"> </div>
      </div>
    </div>
  </div>
  <div id="fb-root"></div>
  <js-bottom-placeholder token="{{ placeholder_token|raw }}">

  <script type="text/javascript" src="https://issues.jboss.org/s/36fcee7e2c47b82293b8ffd249c9132e-T/-bdgec2/72005/38e4585ff05eb2dd95a30399b8504050/2.0.22/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-UK&collectorId=03f305bd">
  </script>
  {# This MUST be at the bottom of the page #}
  {% if (rhd_dtm_code) %}
  <script type="text/javascript">
    if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
        _satellite.pageBottom();
    }
  </script>
  {% endif %}
</body>

