{% set classes = [
    'rhd-list-entry',
] %}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div class="text-content">
    {{ title_prefix }}
    <h3 {{ title_attributes.addClass(['rhd-list-entry--title']) }}><a {{ content_attributes }} href="{{ url }}">{{ label }}</a></h3>
    {{ title_suffix }}
    <div {{ content_attributes.addClass('rhd-list-entry--summary') }}>{{ content.field_short_description }}</div>
    <div class="rhd-list-entry--comment-link"><a href="{{ url }}#comments"><span class="fa fa-comment"></span> Leave a comment</a></div>
  </div>
  {% if video_thumbnail_url %}
    <div class="rhd-list-entry--image">
      <a href="{{ url }}">
      {% set tmpUrl = video_thumbnail_url %}
      {% if '.jpg' in tmpUrl or '.jpeg' in tmpUrl  or '.gif' in tmpUrl  or '.png' in tmpUrl %}
        {% set cacheImg = {'#theme':'imagecache_external', '#uri':tmpUrl, '#style_name':'teaser', '#alt':'Video Thumbnail', } %}
        {{ cacheImg }}
      {% else %}
        <img src="{{ tmpUrl }}" alt="Video Thumbnail" />
      {% endif %}
      </a>
      <div class="rhd-play-button"><span>►</span></div>
    </div>
  {% endif %}
</article>
