<header class="row video-page">
    <div class="large-24 columns">
        <h4 class="content-type-label">Video</h4>
        <h2 class="label-text">{{ label }}</h2>
    </div>
</header>

<div class="row content video-page">
    <div class="large-24 columns page-info-bar ">
        <ul>
            <li>
                {% if content.field_speakers|render|striptags|trim is not empty %}
                    <strong {{ author_attributes }}>By {{content.field_speakers}} </strong>
                {% endif %}
            </li>
            <li>
                {% if node.field_video_publish_date.value %}
                    <small>Published: {{ node.field_video_publish_date.value|date('D, m/d/Y') }}</small>
                {% endif %}
            </li>
            <li class="right share-sm">
                {% include '@rhd/share.html.twig' %}
            </li>
        </ul>
    </div>
    <div class="video-slides">
        <div class="large-15 columns video-container">
            {{ content.field_video_resource }}
        </div>
        {% if content.field_slideshare_source|render|striptags|trim is not empty %}
            <div class="large-9 columns slides">
                <iframe src="https://www.slideshare.net{{content.field_slideshare_source.0['#url']}}" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="max-width: 100%;" allowfullscreen> </iframe>
                <small class="slide-note">Note: Slides do not auto-advance</small>
            </div>
        {% endif %}
    </div>
    <div class="large-17 medium-17 columns video-content">
        {% if content.body|render|striptags|trim is not empty %}
              <div class="show-more-text video-description" data-count="400">
                {{content.body}}
                {% if content.field_video_resource_tags|render|striptags|trim is not empty %}
                    {{ content.field_video_resource_tags }}
                {% endif %}
            </div>
              <a class="show-more" onclick="return false;">
                <span class="more">Show More</span>
                <span class="less">Show Less</span>
              </a>
        {% endif %}
        {% if content.field_video_transcript|render|striptags|trim is not empty %}
            <div class="video-transcript">
                <h5>Transcript</h5>
                {{content.field_video_transcript}}
            </div>
        {% endif %}
    </div>
    <div class="large-6 large-offset-1 medium-7 columns right video-content">
        {% if content.field_video_related_links|render|striptags|trim is not empty %}
            {{ content.field_video_related_links }}
        {% endif %}
        {% if content.field_video_target_product|render|striptags|trim is not empty %}
            <div class="related-product-card columns">
                {{ content.field_video_target_product }}
            </div>
        {% endif %}
    </div>
</div>

{% if ( content.field_video_resource_tags|render|striptags|trim is not empty ) or ( content.field_related_content|render|striptags|trim is not empty ) %}
    <section class="video-page related-content">
        <div class="row">
            <div id ="video-related-cont" class="large-24 columns" data-tags="{{ video_tags|json_encode|replace('\"', '\'') }}">
                <h4>MORE LIKE THIS</h4>
                {{content.field_related_content}}
                <div class="video-related-content video-related-content-list"></div>
            </div>
        </div>
    </section>
{% endif %}

<div class="row">
    <div class="columns medium-24">
        {{ content.disqus_thread }}
    </div>
</div>

{% if node.field_exclude_from_search.value == '1' %}
  <noscript>
    <meta name="DCP:WebpageSearchExclude" content="true">
  </noscript>
{% endif %}
