{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <a href="{{ url }}">
    <div class="tile-image">
      <div class="image-table">
        <div class="image-cell">
          <img{{create_attribute({
              'src': content.field_video_thumbnail_url['#items'][0].value
            })
          }} />
          <div class="play-button">►</div>
        </div>
      </div>
    </div>
    <h3 class="tile-title">{{ label }}</h3>
  </a>
  <div class="tile-comment-count hidden" data-disqus-thread-link="{{ url('entity.node.canonical', {'node': node.id}) }}" data-disqus-comment-count><a href="{{ url }}#comments"><span class="fa fa-comment"></span><span class="comment-number" data-disqus-comment-count-number></span> <span class="count-verbage" data-disqus-comment-count-verbage>Comments</span></a></div>
</article>
