<div{{ attributes.addClass("tertiary-promo") }}>
    {{ title_prefix }}
    <h5{{ title_attributes }}>
        <a href="{{ content.field_container_external_link[0]['#url'] }}"
           title="{{ content.field_container_external_link[0]['#title'] }}"
           target="{{ content.field_container_external_link[0]['attributes']['target'] }}">{{ content.field_container_external_link[0]['#title'] }}</a>
    </h5>
    {{ title_suffix }}
    <p class="description">
        <a href="{{ content.field_container_external_link[0]['#url'] }}"
           title="{{ content.field_container_external_link[0]['#title'] }}"
           target="{{ content.field_container_external_link[0]['attributes']['target'] }}">
            {{ content.field_containers_short_summary }}
        </a>
    </p>
    {% if content.field_container_tags %}
        <span class="promo-tags"><span class="promo-tags-label">Tags:</span>{{ content.field_container_tags }}</span>
    {% endif %}
</div>
