{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
] %}

{% if content.field_featured_connectors %}
    {% set featured_connectors = content.field_featured_connectors[0]['#context']['value']|split(',')|json_encode %}
{% endif %}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    <div{{ title_attributes }}>{{ label }}</div>
    {{ title_suffix }}

    <div{{ content_attributes }}>
        <h2 class="connectors">Connectors</h2>
        <span data-target-product="{{ product_machine_name }}"></span>
        <span data-order-by="priority"></span>
        {% if content.field_overview_main_content %}
            <div class="row">
                <div class="large-24 columns">
                    {{ content.field_overview_main_content }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="large-24 columns">
                <div class="featured-projects">
                    <h2 id="featured-connectors">Featured Connectors</h2>
                    <span class="featured-connector-ids" hidden="true">{{ featured_connectors }}</span>
                    <ul class="featured-connectors-results"></ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-24 columns text-content">
                <h2 id="overview">All Connectors</h2>
                <p class="link-list connectors-order">
                    <strong>Order By</strong>
                    <a href="#" class="active order-priority"><i class="fa fa-sort-amount-desc"></i>Importance</a>
                    <a href="#" class="order-alpha"><i class="fa fa-sort-alpha-asc"></i>Alphabetically</a>
                </p>
                <ul class="large-block-grid-4 medium-block-grid-2 connector-results"></ul>
                <small>&#42;All registered trademarks belong to their respective owners.</small>
            </div>
        </div>
    </div>
</div>
