{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    <div{{ title_attributes }}>{{ label }}</div>
    {{ title_suffix }}

    <div{{ content_attributes }}>
        <div id="get-started-instructions" class="tthw-steps" data-spy="scroll" data-target="#steps-scroll">
            <div class="row">
                <div class="large-17 columns" id="get-started">
                    <h2>Get Started</h2>
                </div>
            </div>
        </div>
        {% if content.field_overview_main_content|render|striptags|trim is not empty %}
            {{ content.field_overview_main_content }}
        {% else %}
            <div class="multipath-tabs-sm">
                {{ tab_bar }}
            </div>
            <div>
                {{ tab_panels }}
            </div>
        {% endif %}
    </div>
</div>
