{#
/**
 * @file assembly--curated-links.html.twig
 * Curated links assembly type
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assembly()
 *
 * @ingroup themeable
 */
#}

{# Decalre default render variables #}
{% set addClasses = [] %}
{% set remClasses = [] %}

{# Calculate type of render based on class set and set appropriate variable values #}
{% if (display_type == 'nav-menu') %}
  {% set addClasses = ['nav-menu'] %}
  {% set remClasses = ['two-col'] %}
{% elseif (display_type == 'two-col') %}
  {% set addClasses = ['two-col'] %}
  {% set remClasses = ['nav-menu'] %}
{% endif %}

{% set background_image = "background-image: url(" ~ background_image_url ~ ");" %}

<div{{ attributes.addClass('pf-c-content', 'rhd-c-curated-links', 'assembly-type-curated_links_rhdp2', 'component', addClasses).removeClass('assembly-type-curated_links', remClasses).setAttribute('style', background_image) }}{{ audience_selection }}>
  <div class="pf-l-grid pf-m-gutter">
    {% if content.field_additional_content|render %}
    <div class="pf-l-grid__item pf-m-8-col-on-lg pf-m-7-col-on-md pf-m-6-col-on-sm">
      {{ content.field_additional_content }}
    </div>
    {% endif %}
    {% if content.field_additional_content|render %}
    <div class="pf-l-grid__item pf-m-4-col-on-lg pf-m-5-col-on-md pf-m-6-col-on-sm">
    {% else %}
    <div class="pf-l-grid__item">
    {% endif %}
      {% if content.field_title|render %}
        <h2 class="pf-c-title pf-u-pt-lg">{{ content.field_title }}</h2>
      {% endif %}       
      {% if elements.links %}
        <hr class="rhd-c-divider">
        <div class="pf-l-flex pf-m-column">
          {% for link in elements.links %}
            <div class="pf-l-flex__item">
              {% if not attributes.hasClass('nav-menu') %}
              <i class="fal fa-arrow-circle-right"></i>
              {% endif %}     
              {{ link }}
            </div>
          {% endfor %}
        </div>
        <hr class="rhd-c-divider">
      {% endif %}
    </div>
  </div>
</div>
