{#
/**
 * @file assembly--call-to-action.html.twig
 * Call to action assembly type
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assembly()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes }}>
  <div class="cta__container pf-l-grid">
    {% if content.field_title|render %}
      <h2 class="cta__title pf-c-title">{{ content.field_title }}</h2>
    {% endif %}
    {% if content %}
      <div class="cta__content">
        {{ content|without('field_title', 'field_cta_link', 'field_display_cta_timer', 'field_display_cta_timer_label', 'field_calendar_event') }}
      </div>
    {% endif %}

    {% if has_ics %}
      {{ content.field_calendar_event }}
    {% endif %}

    {% if has_countdown %}
       <div class="rhd-c-countdown pf-u-hidden">
        <div class="rhd-c-countdown-label">
          {{ content.field_display_cta_timer_label|render|striptags }}
        </div>
        {{ content.field_display_cta_timer }}
      </div>
      <div class="cta__cta pf-u-hidden">
        {# The pf-u-hidden class is removed by countdown.js when the timer runs out. #}
        {{ content.field_cta_link }}
      </div>
    {% else %}
    <div class="cta__cta">
      {{ content.field_cta_link }}
    </div>
    {% endif %}
  </div>
</div>
