<div{{ attributes }}>
  {% if content %}
  <div class="pf-l-grid rhd-l-bonus-content-item-grid">
    <div class="pf-l-grid__item">
      <div class="pf-l-grid pf-m-gutter">
        <div class="pf-l-grid__item pf-m-1-col pf-u-display-flex pf-u-align-items-center rhd-c-avatar--container">
          <img class="pf-c-avatar rhd-c-avatar" src="{{ elements.term_image_url }}" alt="{{ elements.term_image_url_alt }}">
        </div>
        <div class="pf-l-grid__item pf-m-11-col">
          <div class="pf-l-flex pf-m-column">
            <div class="pf-l-flex__item pf-u-display-inline-flex rhd-c-bonus-content-item">
              <div class="rhd-c-bonus-content-item__image">
                <i class="{{ elements.icon_style }}"></i>
              </div>
              {{ elements.term_name }}
            </div>
            <div class="pf-l-flex__item">
              {{ content.field_url }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
