<div{{ attributes.addClass(classes) }}>
  <div class="pf-l-grid rhd-c-video">
    <div class="rhd-c-video--wrapper">
      <div class="rhd-c-video--video-embed">
        {{ content.video }}
      </div>
    </div>
    {% if content|without('video')|render %}
    <div class="rhd-c-video--content">
      <div class="rhd-c-video--content-wrapper">
        <h3 class="header-link">
          <a href="{{ path('entity.node.canonical', {'node': assembly.field_video_resource.entity.id }) }}">{{ content.field_title }}</a>
        </h3>
        {{ content.field_description }}
        {{ content.authors }}
      </div>
    </div>
    {% endif %}
  </div>
  {% if content.secondary_video %}
  <div class="pf-l-grid rhd-c-video">
    {% if content|without('secondary_video')|render %}
    <div class="rhd-c-video--content">
      <div class="rhd-c-video--content-wrapper">
        <h3 class="header-link">
          <a href="{{ path('entity.node.canonical', {'node': assembly.field_secondary_video_resource.entity.id }) }}">{{ content.field_secondary_video_title }}</a>
        </h3>
        {{ content.field_secondary_video_descriptio }}
        {{ content.secondary_video_authors }}
      </div>
    </div>
    {% endif %}
    <div class="rhd-c-video--wrapper">
      <div class="rhd-c-video--video-embed">
        {{ content.secondary_video }}
      </div>
    </div>
  </div>
  {% endif %}
</div>
