{%
  set classes = [
    'component',
    'product-download-hero',
  ]
%}

<div {{ attributes.addClass(classes) }}{{ audience_selection }} style="{{ background_image }}">
    <div class="pf-l-grid pf-m-gutter pf-u-pt-lg pf-u-pb-lg">
        {% if image_uri %}
        <div class="pf-l-grid__item pf-m-4-col-on-lg pf-m-5-col-on-md pf-m-6-col-on-sm pf-u-display-flex pf-u-justify-content-center pf-u-flex-direction-column">
            <picture class="product-download-hero-aside">
                <source media="(min-width: 480px)" srcset="{{ image_uri }}">
                <source media="(min-width: 768px)" srcset="{{ image_uri }}">
                <source media="(min-width: 1024px)" srcset="{{ image_uri }}">
                <img src="{{ image_uri }}"/>
            </picture>
        </div>
        {% endif %}
        <div class="pf-l-grid__item pf-m-8-col-on-lg pf-m-7-col-on-md pf-m-6-col-on-sm pf-u-display-flex pf-u-justify-content-center pf-u-flex-direction-column pf-u-pt-lg-on-sm pf-u-pb-lg-on-sm pf-u-pt-2xl-on-md pf-u-pb-2xl-on-md">
            {% if content.field_title|render %}
            {{ content.field_title }}
            {% endif %}
            {% if content.field_content|render %}
            {{ content.field_content }}
            {% endif %}
            {% if elements.featured.url %}
            <div class="product-download-hero-footer pf-c-content">
                <div class="product-download-hero-footer--cta pf-u-text-align-center">
                    <a class="pf-c-button pf-m-primary" href="{{ elements.featured.url }}">Download</a>
                    <p class="product-download-hero-footer--version">Version {{ elements.featured.versionName }}</p>
                </div>
            </div>
            {% endif %}
          </div>
        </div>
    </div>
</div>
