{% set classes = [
  'component',
  'pf-c-content'
]%}

<div {{ attributes.addClass(classes) }}{{ audience_selection }}>
  <h2>{{ content.field_title }}</h2>
  <div class="pf-l-grid__list">
    {{ content.posts }}
  </div>
  {{ content.field_cta_link }}
</div>
