{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    current_path ? 'page' ~ current_path|clean_class,
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <title>{{ head_title['title'] }}</title>
    <!-- DO NOT REMOVE  "00fef0cf90c42f3e40921fb3370e520a" -->
  <script>
  /**
  * Creates and dispatches an event trigger
  * @param {String} evt - The name of the event
  */
  function sendCustomEvent(evt){
    if(document.createEvent && document.body.dispatchEvent){
      var event = document.createEvent('Event');
      event.initEvent(evt, true, true); //can bubble, and is cancellable
      document.body.dispatchEvent(event);
    } else if(window.CustomEvent && document.body.dispatchEvent) {
      var event = new CustomEvent(evt, {bubbles: true, cancelable: true});
      document.body.dispatchEvent(event);
    }
  }
  {% if (rhd_dtm_code) %}
    var digitalData = {{ rhd_dtm_script|json_encode()|raw }};
    
    ( function( w, d, dd, undefined ) {
      var bc = window.location.href.replace(/^https?\:\/\/([a-z._-]|[0-9])+(:?[0-9]*)?(\/pr\/[0-9]+\/export)?\//,'').replace(/\/$/,'').split('?')[0].split('#')[0].split(/\//), primary = '', subs = [], pageType = '';
      if (bc.length === 1 && bc[0] === "") {
        primary = "home page";
        subs.push('cms');
        pageType = 'home';
      } else {
        switch(bc[0]) {
          case 'events':
            if (bc.length > 1) {
              pageType = 'event';
              primary = bc[0];
              subs = bc.slice(1);
            } else {
              pageType = 'events';
              primary = 'event-list';
            }
            break;
          case 'community':
            pageType = 'contributor';
            primary = bc[0];
            if (bc.length > 1) {
              subs = bc.slice(1);
            }
            break;
          case 'forums':
            pageType = 'forum-list';
            primary = 'forum-list';
            break;
          case 'about':
            pageType = bc[0];
            primary = 'about_us';
            break;
          case 'stack-overflow':
            pageType = bc[0];
            primary = 'stack-overflow-qa';
            break;
          case 'vjbug':
          case 'devnationlive':
            pageType = 'webinar';
            primary = 'webinar';
            subs.push(bc[0]);
            break;
          case 'articles':
          case 'quickstarts':
          case 'boms':
          case 'archetypes':
          case 'demos':
          case 'promotions':
            pageType = bc[0].replace(/s$/,'');
            primary = bc[0].replace(/s$/,'');
            if (bc.length > 1) {
              subs = bc.slice(1);
            }
            break;
          case 'products':
            pageType = bc[0];
            if (bc.length > 1) {
              primary = bc[0];
              subs = bc.slice(1);
            } else {
              primary = 'product-list';
            }
          case 'video':
          case 'topics':
          case 'search':
          case 'projects':
          case 'variants':
          case 'downloads':
          case 'ticket-monster':
          case 'terms-and-conditions':
          default:
            pageType = bc[0];
            primary = bc[0];
            if (bc.length > 1) {
              subs = bc.slice(1);
            }
        }
      }
      dd.page.attributes.queryParameters = window.location.href.split('?')[1] ? window.location.href.split('?')[1].replace(/=/g,':').split('&') : "";
      dd.page.category.primaryCategory = primary;
      dd.page.category.subCategories = subs;
      dd.page.pageInfo.destinationURL = window.location.href;
      dd.page.pageInfo.pageName = bc.length === 1 && bc[0] === "" ? 'home page' : bc[0];
      dd.page.pageInfo.breadCrumbs = [dd.page.category.primaryCategory, dd.page.category.subCategories[0] || ""];
      dd.page.pageInfo.sysEnv = ( w.innerWidth <= 768 ) ? "tablet" : "desktop";
      
      var registered = getCookie("rhd_member");
      dd.user[0].profile[0].profileInfo.registered = registered ? true : false;
      if ( d.referrer ) {
        var a = d.createElement( "a" );
        a.href = d.referrer;
        dd.page.pageInfo.referringDomain = a.hostname;
        dd.page.pageInfo.referringURL = a.href;
      }
      var elqGUID = getCookie( "rh_elqCustomerGUID" );
      if ( elqGUID ) {
        dd.user[ 0 ].profile[ 0 ].profileInfo.eloquaGUID = elqGUID;
      }
      var slc = getCookie("rhd-slink-add");
      if(slc){
        sendSocialLinkEvent(slc);
        deleteCookie('rhd-slink-add');
      }
      function sendSocialLinkEvent(sprov){
        var ddSocialLinkEvent = {
          eventInfo: {
            eventAction: 'link',
            eventName: 'social account link',
            socialAccount: sprov,
            socialAccountsLinked: dd.user[0].profile[0].profileInfo.socialAccountsLinked,
            timeStamp: new Date(),
            processed: {
              adobeAnalytics: false
            }
          }
        };
        dd.event.push(ddSocialLinkEvent);
        sendCustomEvent('socialLinkEvent', ddSocialLinkEvent);
      }
      document.addEventListener('search-complete', function(e) {
        if (typeof e.detail.invalid === 'undefined') {
          var ddSearchEvent = {
              eventInfo: {
                eventName: 'internal search',
                eventAction: 'search',
                listing: {
                  browseFilter:  e.detail.filterStr || "internal search",
                  query: e.detail.term,
                  queryMethod: "system generated",
                  resultCount: e.detail.results.hits.total,
                  resultsShown: e.detail.from,
                  searchType: digitalData.page.category.primaryCategory || "",
                  refinement: []
                },
                timeStamp: new Date(),
                processed: {
                  adobeAnalytics: false
                }
              }
            };
          digitalData.event.push(ddSearchEvent);
          digitalData.page.listing = ddSearchEvent.eventInfo.listing;
          sendCustomEvent('ajaxSearch');
        }
      });
      function getCookie( name ) {
        var value = "; " + document.cookie;
        var parts = value.split( "; " + name + "=" );
        if ( parts.length == 2 ) {
          return parts.pop().split( ";" ).shift();
        }
      }
      function deleteCookie(name) {
        document.cookie = name + '=;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      };

    } )( window, document, digitalData );
    {% endif %}
    </script>
    {% if (rhd_dtm_code) %}
      <script id="dpal" src="{{rhd_dtm_code}}"></script>
    {% endif %}

    <head-placeholder token="{{ placeholder_token }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/{{ directory }}/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/{{ directory }}/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/{{ directory }}/favicons/favicon-16x16.png">
    <link rel="manifest" href="/{{ directory }}/favicons/site.webmanifest">
    <link rel="mask-icon" href="/{{ directory }}/favicons/safari-pinned-tab.svg" color="#da532c">
    <link rel="shortcut icon" href="/{{ directory }}/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/{{ directory }}/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <css-placeholder token="{{ placeholder_token }}">
    {% if (rhd_sentry_track) %}
    <script src="{{ rhd_sentry_script }}" crossorigin="anonymous"></script>
    <script>Raven.config('{{ rhd_sentry_code }}', { environment: '{{rhd_environment}}', whitelistUrls: [/redhat\.com/] }).install()</script>
    {% endif %}
    {% if (rhd_environment != 'local') %}
      <script type="text/javascript" src="https://consent.trustarc.com/notice?domain=redhat.com&amp;c=teconsent&amp;js=nj&amp;noticeType=bb&amp;gtm=1&amp;text=true&amp;privacypolicylink=https://www.redhat.com/en/about/privacy-policy" id="truste_0.24698138195918173"></script>
    {% endif %}
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes.addClass(body_classes) }} id="rhd-page-body">
    {% if (rhd_environment == 'prod') %}
    <script type="text/javascript">
      dataLayer = [{'channel' : 'developer'}];
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NJWS5L');
    </script>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJWS5L" height="0" width="0"></iframe></noscript>
    {% endif %}
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <div class="overlay">
      <div class="overlay-wrap">
        <div class="overlay-inner">
          <a class="overlay-close">&times;</a>
          <div class="overlay-content row"> </div>
        </div>
      </div>
    </div>

    <js-bottom-placeholder token="{{ placeholder_token }}">
    {% if (rhd_dtm_code) %}
    <script type="text/javascript">
      if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
        _satellite.pageBottom();
      }
    </script>
    {% endif %}
  </body>
</html>
