{#
/**
 * @file assembly.html.twig
 * Default theme implementation to present Assembly data.
 *
 * This template is used when viewing Assembly pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assembly()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'assembly',
    content.field_links|render ? 'has-links' : 'no-links'
  ]
%}
<section{{ attributes.addClass(classes) }}{{ audience_selection }}>
  <div class="container">
    {{ content.field_title }}
    <div class="grid">
      {% if content %}
        {{- content|without('field_title') -}}
      {% endif %}
    </div>
  </div>
  {% if background_image_url %}
    <div class="background" style="background-image: url({{ background_image_url }});"></div>
  {% endif %}
</section>
