{#
/**
 * @file assembly--curated-links.html.twig
 *
 * This template is used when viewing Assembly pages.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assembly()
 *
 * @ingroup themeable
 */
#}
{% if content|render %}

  {# Decalre default render variables #}
  {% set renderArrow = true %}
  {% set renderAside = false %}
  {% set addClasses = [] %}
  {% set remClasses = [] %}
  {% set menuClass = "curated-links__list fa-ul"%}

  {# Calculate type of render based on class set and set appropriate variable values #}
  {% if (display_type == 'nav-menu') or (attributes.hasClass('nav-menu')) %}
    {% set addClasses = ['nav-menu'] %}
    {% set remClasses = ['two-col'] %}
    {% set renderArrow = false %}
    {% set renderAside = false %}
  {% elseif (display_type == 'two-col') or (attributes.hasClass('two-col')) %}
    {% set addClasses = ['two-col'] %}
    {% set remClasses = ['nav-menu'] %}
    {% set renderArrow = true %}
    {% set renderAside = false %}
  {% endif %}

  {% if content.field_additional_content.0 %}
    {% set remClasses = ['two-col', 'nav-menu'] %}
    {% set renderAside = true %}
    {% set renderArrow = true %}
    {% set menuClass = 'side-bar-nav curated-links__list fa-ul' %}
  {% endif %}

  {# Begin html render #}
  {% if renderAside %}
  <section{{ attributes.addClass('link-side-nav', addClasses).removeClass(remClasses) }}{{ audience_selection }}>
    <div class="container">
      {{ content.field_additional_content }}
      <aside>
        <div class="curated-links">
          {% if content.field_title and renderArrow %}
          <h3 class="curated-links__title">{{ content.field_title }}</h3>
          {% endif %}
          {% if elements.links %}
            <ul class="{{menuClass}}">
              {% for link in elements.links %}
                {% if renderArrow %}
                <li class="curated-links__list-item"><i class="fa-li far fa-arrow-alt-circle-right"></i> {{ link }}</li>
                {% else %}
                <li class="curated-links__list-item">{{ link }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </aside>
    </div>
  </section>
  {% else %}
  <section{{ attributes.addClass(addClasses).removeClass(remClasses) }}{{ audience_selection }}>
    <div class="curated-links">
      {% if content.field_title and renderArrow %}
      <h3 class="curated-links__title">{{ content.field_title }}</h3>
      {% endif %}
      {% if elements.links %}
        <ul class="{{menuClass}}">
          {% for link in elements.links %}
            {% if renderArrow %}
            <li class="curated-links__list-item"><i class="fa-li far fa-arrow-alt-circle-right"></i> {{ link }}</li>
            {% else %}
            <li class="curated-links__list-item">{{ link }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>
  {% endif %}
{% endif %}