{#
/**
 * @file assembly.html.twig
 * Default theme implementation to present Assembly data.
 *
 * This template is used when viewing Assembly pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assembly()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'assembly',
    display_type
  ]
%}
<section{{ attributes.addClass(classes) }}{{ audience_selection }}>
  <div class="container">
    <div class="video">
      {{ content.video }}
    </div>
    {% if content|without('video')|render %}
    <div class="content">
      <h2 class="section-title">
        <a href="{{ path('entity.node.canonical', {'node': assembly.field_video_resource.entity.id }) }}">{{ content.field_title }}</a>
      </h2>
      <div class="video-description">{{ content.field_description }}</div>
      {{ content.authors }}
    </div>
    {% endif %}
  </div>
  {% if content.secondary_video %}
  <div class="container">
    <div class="video">
      {{ content.secondary_video }}
    </div>
    {% if content|without('secondary_video')|render %}
    <div class="content">
      <h2 class="section-title">
        <a href="{{ path('entity.node.canonical', {'node': assembly.field_secondary_video_resource.entity.id }) }}">{{ content.field_secondary_video_title }}</a>
      </h2>
      <div class="video-description">{{ content.field_secondary_video_descriptio }}</div>
      {{ content.secondary_video_authors }}
    </div>
    {% endif %}
  </div>
  {% endif %}
  {% if background_image_url %}
    <div class="background" style="background-image: url({{ background_image_url }});"></div>
  {% endif %}
</section>
