<section{{ attributes.addClass('assembly') }}{{ audience_selection }}>
  <div class="container">
    <div class="grid">
     <div class="product-try-it">
      {{ content.field_title }}
      {{ content.field_content }}
      <a href="{{ content.field_learn_more_link.value }}">Learn More <span class="fa fa-caret-right"></span></a>
      <div class="product-try-it-cta">
        <a class="button heavy-cta" href={{ content.field_try_it_link.value }}><span class="fa fa-bell"></span> Try It</a>
      </div>
     </div>
      {% if content.field_image %}
        <div class="product-image">
          {{ content.field_image }}
        </div>
      {% endif %}
    </div>
  </div>
  {% if background_image_url %}
    <div class="background" style="background-image: url({{ background_image_url }});"></div>
  {% endif %}
</section>
