<section{{ attributes.addClass('assembly') }}{{ audience_selection }}>
  <a href={{ content.field_url['#items'][0].uri }}>
    {% if content.field_image.0 %}
      <div class="tile-image">
        <div class="image-table">
          <div class="image-cell">
            {{ content.field_image.0 | with('#image_style', 'static_item') }}
          </div>
        </div>
      </div>
    {% endif %}
    <h3 class="tile-title">{{ content.field_title }}</h3>
  </a>
  {% if absolute_url and rhd_domain and "developers.redhat.com" in absolute_url %}
    <div class="tile-comment-count hidden" data-disqus-thread-link="{{ absolute_url }}" data-disqus-comment-count>
      <a href="{{ absolute_url }}#disqus_thread">
        <span class="fa fa-comment"></span>
        <span class="comment-number" data-disqus-comment-count-number></span> 
        <span class="count-verbage" data-disqus-comment-count-verbage>Comments</span>
      </a>
    </div>
  {% endif %}
</section>
