<section{{ attributes.addClass('assembly') }}{{ audience_selection }}>
  <div class="container">
    <div class="grid">
     <div class="product-version">
      {{ content.field_title }}
      {{ content.field_content }}
      {% if content.field_learn_more_link|render %}
        <a href="{{ content.field_learn_more_link.0['#url'] }}">
        {% if content.field_learn_more_link.0['#title'] %}
          {{ content.field_learn_more_link.0['#title'] }}
        {% else %}
          Learn More
        {% endif %}
        &nbsp;<span class="fa fa-caret-right"></span></a>
      {% endif %}

      {# Adjust for 13-digit Unix timestamp #}
      {% set featuredReleaseDate = elements.featured.releaseDate / 1000 %}

        <div class="product-version__file">
          <a class="button heavy-cta" href={{ elements.featured.url }}><span class="fa fa-download"></span> Download</a>
          <span class="product-version__version-name">
            Version {{ elements.featured.versionName }}
          </span>
        </div>
      </div>
      {% if content.field_image %}
        <div class="product-image">
          {{ content.field_image }}
        </div>
      {% endif %}
    </div>
  </div>
  {% if background_image_url %}
    <div class="background" style="background-image: url({{ background_image_url }});"></div>
  {% endif %}
</section>
