{#
/**
 * @file assembly.html.twig
 * Default theme implementation to present Assembly data.
 *
 * This template is used when viewing Assembly pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assembly()
 *
 * @ingroup themeable
 */
#}
<section{{ attributes.addClass('assembly') }}{{ audience_selection }}>
  <div class="container">
    {% if content %}
      <div class="assembly-content">
      {{- content|without('field_image') -}}
      </div>
      <div class="assembly-image">
        {% if assembly.field_image_link[0].url %}
        <a href={{ assembly.field_image_link[0].url }}>
        {% endif %}
        {{- content.field_image -}}
        {% if assembly.field_image_link[0].url %}
        </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
  {% if background_image_url %}
    <div class="background" style="background-image: url({{ background_image_url }});"></div>
  {% endif %}
</section>
