{%
  set classes = [
    'assembly',
    content.field_links|render ? 'has-links' : 'no-links',
    display_type
  ]
%}
<section{{ attributes.addClass(classes) }}{{ audience_selection }}>
  <div class="container">
    <h2>{{ content.field_title }}</h2>
    <div class="grid">
      {% if content %}
        {{- content|without('field_title') -}}
      {% endif %}
    </div>
  </div>
  {% if background_image_url %}
    <div class="background" style="background-image: url({{ background_image_url }});"></div>
  {% endif %}
</section>
