<section{{ attributes.addClass('assembly') }}{{ audience_selection }}>
  <a href="{{ content.field_url }}">
    <div class="tile-image">
      <div class="image-table">
        <div class="image-cell">
          {{ content.field_image }}
        </div>
      </div>
    </div>
    <h3 class="tile-title">{{ content.field_title }}</h3>
  </a>
</section>
