<section {{ attributes.addClass(classes) }}{{ audience_selection }}>
  <div class="container">
    {% set latestRelease = '' %}
    {% for key, release in features %}
      {% if loop.last %}
        {% set latestRelease = releases[key] %}
        <div class="table-header">{{ latestRelease }}</div> 
      {% endif %}
    {% endfor %} 
    <table class="outside-table">
      {% for key, release in features %}
        {% for feature in release %}
          <tr class="feature-row">
            <td>{{ feature.title }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>

    <div class="inside-table">
      <div class="scroll-left">
        <button id="left-button"><i class="fas fa-chevron-left"></i></button>
      </div>
      <div class="center" id="content">
        
        <table>
          <thead></thead>
          <tbody>
            {# Title #}
            {# Products #}
            {% for product in products %}
              <th>
                <div class="th-content">
                  {% if product.logo %}
                    {{ product.logo }}
                  {% else %}
                    <h5>{{ product.title }}</h5>
                  {% endif %}
                  <div class="th-links">
                    {% if product.cta is not empty %}
                      {% if product.cta.uri is not empty %}
                        <span class="link">
                          {{ link(product.cta.title, product.cta.uri, product.cta.options) }} <i class="fas fa-caret-right"></i>
                        </span>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </th>
            {% endfor %}
            {# Sub-Products #}
            {% for sub_product in sub_products %}
              <th>
                <div class="th-content">
                  {% if sub_product.logo %}
                    {{ sub_product.logo }}
                  {% else %}
                    <h5>{{ sub_product.title }}</h5>
                  {% endif %}
                  <div class="th-links">
                    {% if sub_product.cta is not empty %}
                      {% if sub_product.cta.uri is not empty %}
                        <span class="link">
                          <i class="fas fa-external-link-alt"></i> {{ link(sub_product.cta.title, sub_product.cta.uri, sub_product.cta.options) }}
                        </span>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </th>
            {% endfor %}
            {# Upstream Projects #}
            {% for upstream_project in upstream_projects %}
              <th>
                <div class="th-content">
                  {% if upstream_project.logo %}
                    {{ upstream_project.logo }}
                  {% else %}
                    <h5>{{ upstream_project.title }}</h5>
                  {% endif %}
                  <div class="th-links">
                    {# Link to Project #}
                    {% if upstream_project.link_to_project is not empty %}
                      {% if upstream_project.link_to_project.uri is not empty %}
                        <span class="link">
                          <i class="fas fa-external-link-alt"></i> {{ link(upstream_project.link_to_project.title, upstream_project.link_to_project.uri, upstream_project.link_to_project.options) }}
                        </span>
                      {% endif %}
                    {% endif %}
                    {# Link to GitHub Repo #}
                    {% if upstream_project.link_to_repo is not empty %}
                      {% if upstream_project.link_to_repo.uri is not empty %}
                        <span class="link">
                          <i class="fab fa-github"></i> {{ link(upstream_project.link_to_repo.title, upstream_project.link_to_repo.uri, upstream_project.link_to_repo.options) }}
                        </span>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </th>
            {% endfor %}
          </tr>

          {# Table body #}
          {% for key, release in features %}
            {% for feature in release %}
              {% set featureRelease = releases[key] %}
              <tr>
                {# Products #}
                {% for key, product in products %}
                  {% if key in feature.products_and_projects %}
                    <td class="checked">
                      <i class="fas fa-check"></i>
                        {% if latestRelease == featureRelease %}
                          <small>{{ featureRelease }} &amp; up</small>
                        {% endif %}  
                    </td>
                  {% else %}
                    <td class="unchecked">&mdash;</td>
                  {% endif %}
                {% endfor %}
                {# Sub-Products #}
                {% for key, sub_product in sub_products %}
                  {% if key in feature.products_and_projects %}
                    <td class="checked">
                      <i class="fas fa-check"></i>
                        {% if latestRelease == featureRelease %}
                          <small>{{ featureRelease }} &amp; up</small>
                        {% endif %}  
                    </td>
                  {% else %}
                    <td class="unchecked">&mdash;</td>
                  {% endif %}
                {% endfor %}
                {# Upstream Projects #}
                {% for key, upstream_project in upstream_projects %}
                  {% if key in feature.products_and_projects %}
                    <td class="checked">
                      <i class="fas fa-check"></i>
                        {% if latestRelease == featureRelease %}
                          <small>{{ featureRelease }} &amp; up</small>
                        {% endif %}  
                    </td>
                  {% else %}
                    <td class="unchecked">&mdash;</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="scroll-right">
      <button id="right-button"><i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
</div>
</section>