<section{{ attributes.addClass('assembly') }}{{ audience_selection }}>
  <div class="container">
    {{ content.field_title }}
    <div class="grid">
      {{ content.field_evangelists }}
      {{ content.field_cta_link }}
    </div>

  {% if content %}
    {{- content|without('field_evangelists', 'field_cta_link', 'field_title') -}}
  {% endif %}
  </div>
  {% if background_image_url %}
    <div class="background" style="background-image: url({{ background_image_url }});"></div>
  {% endif %}
</section>
