{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <a href="{{ url }}">
    <div class="header-block">
      <div class="asset-type">{% if login_req %}<span class="login-required" title="Free for members"><span class="fas fa-users"></span></span> {% endif %}Learning Guide</div>
      <h3 class="card-title">{{ label }}</h3>
    </div>
    <div class="content-block">
      {% for lesson in content.lessons %}
        <div class="lesson">
          <div class="lesson-label">{{ lesson.label|raw }}</div>
          <div class="lesson-title">{{ lesson.title|raw }}</div>
        </div>
      {% endfor %}
      <div class="more">More Guides</div>
    </div>
  </a>
</article>
