{% set access = 'training-content' %}

{# The replace the training-content class with one of the following, depending on the content: free-content, member-content, training-content #}
<div{{ attributes.addClass(['dp-content-card', access ]) }} 
    access="member" 
    duration="{{node.field_completion_time.value}}" 
    image="{{ learning_path_card['card_image_url']|default('https://images.unsplash.com/photo-1500015139098-84b51c349a60?ixlib=rb-0.3.5&s=6d04d38ac0d81eb2414819cdea385912&auto=format&fit=crop&w=1050&q=80') }}"
    level="{{(node.field_level.value ?? 'unclassified')|capitalize}}" 
    title="{{node.title.value}}" 
    modified="{{node.changed.value|date('Y-m-d')}}" 
    uri="{{ node.field_source_link.0.value.uri }}" 
    onclick="window.location = '{{ node.field_source_link.0.value.uri }}';">
  <div class="img" style="background-image: url('{{ learning_path_card['card_image_url']|default('https://images.unsplash.com/photo-1500015139098-84b51c349a60?ixlib=rb-0.3.5&s=6d04d38ac0d81eb2414819cdea385912&auto=format&fit=crop&w=1050&q=80') }}')">
    {% if access != 'free-content' %}
    <div class="dp-access-level">
      {% if access == 'member-content' %}
      <i class="fas fa-user"></i> For RHDP Members
      {% else %}
      <i class="fas fa-dollar-sign"></i> Red Hat Training
      {% endif %}
    </div>
    {% endif %}
  </div>
  <div class="card-info">
    <div class="card-details">
      <div class="dp-content-type {{ node.type.entity.get('type') }}">
          <i class="fas fa-laptop"></i> {{node.type.entity.label}}
      </div>
      {% if node.field_completion_time.value %}
      <div class="dp-duration">
          <i class="far fa-clock"></i> 
          {% for intvl in node.field_completion_time|reverse %}
            {{ intvl.interval }} {{ intvl.period }}{% if intvl.interval > 1 %}s{% endif %}
          {% endfor %}
      </div>
      {% endif %}
      {% if node.field_level.value %}
      <div class="dp-level">
        {% if node.field_completion_time.value %}
        &nbsp;|&nbsp;
        {% endif %}
        {{node.field_level.value|capitalize}}
      </div>
      {% endif %}
    </div>
    <h4 class="line-clamp-2">{{ node.title.value }}</h4>
    <p class="line-clamp-3">{{ node.field_short_description.value|striptags }}</p>
    <div class="bio">
        {% if node.field_published_date.value is not empty %}
          <rh-datetime datetime="{{ node.field_published_date.value|date("c")}}">{{node.field_published_date.value|date("Y-m-d")}}</rh-datetime>
        {% endif %}
    </div>
  </div>
</div>