{% set classes = [
    'rhd-list-entry',
] %}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
    <div class="text-content">
        <h3 class="rhd-list-entry--title"><a href="{{ post.link }}">{{ post.title.rendered|raw }}</a></h3>
        <div class="rhd-list-entry--date">{{ date }}</div>
        <div class="rhd-list-entry--summary">{{ post.excerpt.rendered|raw }}</div>
    </div>
    {% if media and media.media_type == 'image' %}
        <div class="rhd-list-entry--image">
            <img src="{{ media.source_url }}"/>
        </div>
    {% endif %}
</article>
