{% set classes = [
  'pf-c-card',
  'rhd-c-card__list',
] %}
{{ attach_library('classy/node') }}
<div{{ attributes.addClass(classes) }}>
  <div class="rhd-c-card-content">
    <h3 class="rhd-c-card__title">
      <a href="{{ post.link }}" class="rhd-m-link">{{ post.title.rendered|raw }}</a>
      {% if absolute_url and rhd_domain and "developers.redhat.com" in absolute_url %}
      <div class="rhd-m-list__comment tile-comment-count hidden" data-disqus-thread-link="{{ absolute_url }}" data-disqus-comment-count>
        <a href="{{ absolute_url }}#comments">
          <span class="fas fa-comment"></span>
          <span class="comment-number" data-disqus-comment-count-number></span>
        </a>
      </div>
      {% endif %}
    </h3>
  </div>
</div>
