<article class="wordpress-blog-post-teaser">

  {% if media and media.media_type == 'image' %}
    <div class="teaser-image">
      <div class="tile-image {{ media.scale_orientation }}">
        <div class="image-table">
          <div class="image-cell">
            <img src="{{ media.source_url }}"/>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="text-content">
    <h3 class="title"><a href="{{ post.link }}">{{ post.title.rendered|raw }}</a></h3>
    <div class="summary">{{ post.excerpt.rendered|raw }}</div>
  </div>

</article>
